Hcs.ClientApi/Connected Services/Service.Async.DeviceMetering.v14_5_0_1/hcs-device-metering-types.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:base="http://dom.gosuslugi.ru/schema/integration/base/" xmlns:nsi-base="http://dom.gosuslugi.ru/schema/integration/nsi-base/" xmlns:tns="http://dom.gosuslugi.ru/schema/integration/device-metering/" xmlns:ds="http://www.w3.org/2000/09/xmldsig#" xmlns:metering-device-base="http://dom.gosuslugi.ru/schema/integration/metering-device-base/" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://dom.gosuslugi.ru/schema/integration/device-metering/" version="13.1.4.1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="../lib/hcs-base.xsd" namespace="http://dom.gosuslugi.ru/schema/integration/base/" />
  <xs:import schemaLocation="../lib/hcs-metering-device-base.xsd" namespace="http://dom.gosuslugi.ru/schema/integration/metering-device-base/" />
  <xs:import schemaLocation="../lib/hcs-nsi-base.xsd" namespace="http://dom.gosuslugi.ru/schema/integration/nsi-base/" />
  <xs:complexType name="OneRateMeteringValueImportType">
    <xs:annotation>
      <xs:documentation>?????????????????? ?????????????????????????? ????. ???????????????????????? ?????? ?????????????? ?????????????? ?? ?????????????????????? ?????????????????? ????</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="metering-device-base:OneRateMeteringValueBaseType">
        <xs:sequence>
          <xs:element name="DateValue" type="xs:date">
            <xs:annotation>
              <xs:documentation>???????? ???????????? ??????????????????</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element ref="base:TransportGUID" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ElectricMeteringValueImportType">
    <xs:annotation>
      <xs:documentation>?????????????????? ?????????????????????????? ????. ???????????????????????? ?????? ?????????????? ?????????????? ?? ?????????????????????? ?????????????????? ????</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="metering-device-base:ElectricMeteringValueBaseType">
        <xs:sequence>
          <xs:element name="DateValue" type="xs:date">
            <xs:annotation>
              <xs:documentation>???????? ???????????? ??????????????????</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element ref="base:TransportGUID" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="VolumeMeteringValueImportType">
    <xs:annotation>
      <xs:documentation>???????????? ????, ?????????????????????? ?????????? ?????????????????????? ????. ???????????????????????? ?????? ?????????????? ?????????????? ?? ?????????????????????? ??????????????</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="metering-device-base:VolumeMeteringValueBaseType">
        <xs:sequence>
          <xs:element name="DateValue" type="xs:date">
            <xs:annotation>
              <xs:documentation>???????? ???????????? ??????????????????</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element ref="base:TransportGUID" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="OneRateMeteringValueExportType">
    <xs:annotation>
      <xs:documentation>?????????????? ?????????????????? ?????????????????????????? ????: ???????????????????????? ????????????, ???????????????? ?????????????????? ?? ???????????????? ?????????????????? ???? ?? (???????? ????????????????????) ?? ???????????????? ?????????????????? ?????????????????????????? ?????????????? ???? ??????????????????, ???????????????? ???????????? ?? ???????????????????? ????, ????????-?????????? ???????????????? ?? ??????????????. ???????????????????????? ?????? ???????????????? ?????????????? ?????????????????? ???? ?? ?????????????????? ???? ???????????? / ?????????????????? ??????????????</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="metering-device-base:OneRateMeteringValueExportWithTSType">
        <xs:sequence minOccurs="0">
          <xs:element minOccurs="0" name="Unit" type="xs:string">
            <xs:annotation>
              <xs:documentation>?????? ?????????????? ?????????????????? ?????????????????? ???? (???? ???????????????????????? ???????????????????????????? ????????). ??????????????????????, ???????? ???? ?????????????????? ???? ???????????????????? ???? ???? ?????????????????????????? ?????????????? ???? ??????????????????</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="MeteringValueInDefaultUnit">
            <xs:annotation>
              <xs:documentation>???????????????? ?????????????????? ????, ???????????????????? ?? ???????????????? ?????????????????? ?????????????????????????? ?????????????? ???? ??????????????????. ??????????????????????, ???????? ???? ?????????????????? ???? ???????????????????? ???? ???? ???? ???? ??????????????????</xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:sequence>
                <xs:element name="MeteringValue" type="metering-device-base:MeteringValueType">
                  <xs:annotation>
                    <xs:documentation>????????????????</xs:documentation>
                  </xs:annotation>
                </xs:element>
                <xs:element name="DefaultUnit" type="xs:string">
                  <xs:annotation>
                    <xs:documentation>?????????????? ?????????????????? ?????????????????????????? ?????????????? ???? ??????????????????</xs:documentation>
                  </xs:annotation>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ElectricMeteringValueExportType">
    <xs:annotation>
      <xs:documentation>?????????????????? ???????????????????????????? ????: ???????????????? ?????????????????? ?? ???????????????? ?????????????????? ???? ?? (???????? ????????????????????) ?? ???????????????? ?????????????????? ?????????????????????????? ?????????????? ???? ??????????????????, ???????????????? ???????????? ?? ???????????????????? ????, ????????-?????????? ???????????????? ?? ??????????????. ???????????????????????? ?????? ???????????????? ?????????????? ?????????????????? ???? ?? ?????????????????? ???? ???????????? / ?????????????????? ??????????????</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="metering-device-base:ElectricMeteringValueExportWithTSType">
        <xs:sequence minOccurs="0">
          <xs:element minOccurs="0" name="Unit" type="xs:string">
            <xs:annotation>
              <xs:documentation>?????? ?????????????? ?????????????????? ?????????????????? ???? (???? ???????????????????????? ???????????????????????????? ????????). ??????????????????????, ???????? ???? ?????????????????? ???? ???????????????????? ???? ???? ?????????????????????????? ?????????????? ???? ??????????????????</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="MeteringValueInDefaultUnit">
            <xs:annotation>
              <xs:documentation>???????????????? ?????????????????? ????, ???????????????????? ?? ???????????????? ?????????????????? ?????????????????????????? ?????????????? ???? ??????????????????. ??????????????????????, ???????? ???? ?????????????????? ???? ???????????????????? ???? ???? ???? ???? ??????????????????</xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:sequence>
                <xs:element name="MeteringValueT1" type="metering-device-base:MeteringValueType">
                  <xs:annotation>
                    <xs:documentation>???????????????? ???? ???????????? T1</xs:documentation>
                  </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="MeteringValueT2" type="metering-device-base:MeteringValueType">
                  <xs:annotation>
                    <xs:documentation>???????????????? ???? ???????????? T2</xs:documentation>
                  </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="MeteringValueT3" type="metering-device-base:MeteringValueType">
                  <xs:annotation>
                    <xs:documentation>???????????????? ???? ???????????? T3</xs:documentation>
                  </xs:annotation>
                </xs:element>
                <xs:element name="DefaultUnit" type="xs:string">
                  <xs:annotation>
                    <xs:documentation>?????????????? ?????????????????? ?????????????????????????? ?????????????? ???? ??????????????????</xs:documentation>
                  </xs:annotation>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="OneRateCurrentMeteringValueExportType">
    <xs:annotation>
      <xs:documentation>?????????????? ?????????????????? ?????????????????????????? ????: ?????????????????? ?????? ?????????????? ?????????????????? ?????????????????????????? ???? ?????????? ???????????? ??????????????????. ???????????????????????? ?????? ???????????????? ?????????????? ?? ?????????????????????? ?????????????????? ????</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:OneRateMeteringValueExportType">
        <xs:sequence>
          <xs:element name="DateValue" type="xs:dateTime">
            <xs:annotation>
              <xs:documentation>???????? ???????????? ??????????????????</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ElectricCurrentMeteringValueExportType">
    <xs:annotation>
      <xs:documentation>?????????????? ?????????????????? ???????????????????????????? ????: ?????????????????? ?????? ?????????????? ?????????????????? ???????????????????????????? ???? ?????????? ???????????? ??????????????????. ???????????????????????? ?????? ???????????????? ?????????????? ?? ?????????????????????? ?????????????????? ???? ????????????????????????????</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ElectricMeteringValueExportType">
        <xs:sequence>
          <xs:element name="DateValue" type="xs:dateTime">
            <xs:annotation>
              <xs:documentation>???????? ???????????? ??????????????????</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="VolumeMeteringValueExportBaseType">
    <xs:annotation>
      <xs:documentation>???????????? ?????????????? ?????????????????? ????, ?????????????????????? ?????????? ?????????????????????????? ?????????????????????????? ??????????????: ???????????????????????? ????????????, ???????????????? ?????????????????? ?? ???????????????? ?????????????????? ???? ?? (???????? ????????????????????) ?? ???????????????? ?????????????????? ?????????????????????????? ?????????????? ???? ??????????????????, ???????????????? ???????????? ?? ???????????????????? ????. ???????????????????????? ?????? ???????????????? ?????????????????? ???? ???????????? / ?????????????????? ??????????????</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="metering-device-base:VolumeMeteringValueBaseType">
        <xs:sequence minOccurs="0">
          <xs:element minOccurs="0" name="ReadingsSource" type="xs:string">
            <xs:annotation>
              <xs:documentation>?????? ??????????????</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="orgPPAGUID" type="xs:string">
            <xs:annotation>
              <xs:documentation>?????????????????????????? ??????????????????????, ?????????????? ?????????? ???????????? ?? ??????????????. ???? ??????????????????????, ???????? ???????????? ???????? ?????????????? ??????????????????????</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="EnterIntoSystem" type="xs:dateTime">
            <xs:annotation>
              <xs:documentation>???????? ?? ?????????? ???????????????? ?? ??????????????</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="Unit" type="xs:string">
            <xs:annotation>
              <xs:documentation>?????? ?????????????? ?????????????????? ?????????????? ?????????????????????? (???? ???????????????????????? ???????????????????????????? ????????). ??????????????????????, ???????? ???? ?????????????????? ???? ???????????????????? ???? ???? ?????????????????????????? ?????????????? ???? ??????????????????</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="MeteringValueInDefaultUnit">
            <xs:annotation>
              <xs:documentation>???????????????? ?????????????? ?????????????????????? ????, ???????????????????? ?? ???????????????? ?????????????????? ?????????????????????????? ?????????????? ???? ??????????????????. ??????????????????????, ???????? ???? ?????????????????? ???? ???????????????????? ???? ???? ???? ???? ??????????????????</xs:documentation>
            </xs:annotation>
            <xs:complexType>
              <xs:sequence>
                <xs:element name="MeteringValueT1" type="metering-device-base:MeteringValueType">
                  <xs:annotation>
                    <xs:documentation>???????????????? ???? ???????????? T1</xs:documentation>
                  </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="MeteringValueT2" type="metering-device-base:MeteringValueType">
                  <xs:annotation>
                    <xs:documentation>???????????????? ???? ???????????? T2</xs:documentation>
                  </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="MeteringValueT3" type="metering-device-base:MeteringValueType">
                  <xs:annotation>
                    <xs:documentation>???????????????? ???? ???????????? T3</xs:documentation>
                  </xs:annotation>
                </xs:element>
                <xs:element name="DefaultUnit" type="xs:string">
                  <xs:annotation>
                    <xs:documentation>?????????????? ?????????????????? ?????????????????????????? ?????????????? ???? ??????????????????</xs:documentation>
                  </xs:annotation>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="VolumeCurrentMeteringValueExportType">
    <xs:annotation>
      <xs:documentation>???????????? ?????????????? ?????????????????? ????, ?????????????????????? ?????????? ?????????????????????????? ?????????????????????????? ??????????????: ?????????????????? ?????????????? ?????? ?????????? ???????????? ??????????????????. ???????????????????????? ?????? ???????????????? ?????????????? ?? ?????????????????????? ??????????????????</xs:documentation>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension base="tns:VolumeMeteringValueExportBaseType">
        <xs:sequence>
          <xs:element name="DateValue" type="xs:dateTime">
            <xs:annotation>
              <xs:documentation>???????? ???????????? ??????????????????</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="VolumeMeteringValueExportType">
    <xs:annotation>
      <xs:documentation>???????????????????????????? ???????? ?????????????????? ???? (???????????????? ??????????????, ??????, ?????????????? ????????, ???????????????? ????????, ?????????????? ?????????????? ????????) (???????????????????????? ?????? ???????????????? ??????????????????)</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CurrentValue">
        <xs:annotation>
          <xs:documentation>?????????? ?????????????????????? ???? ????????????</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:complexContent mixed="false">
            <xs:extension base="tns:VolumeCurrentMeteringValueExportType">
              <xs:sequence minOccurs="0">
                <xs:element name="Period" type="base:YearMonth">
                  <xs:annotation>
                    <xs:documentation>????????????, ?? ???????????????? ?????????????????? ??????????????????</xs:documentation>
                  </xs:annotation>
                </xs:element>
              </xs:sequence>
            </xs:extension>
          </xs:complexContent>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ControlValue" type="tns:VolumeCurrentMeteringValueExportType">
        <xs:annotation>
          <xs:documentation>?????????????????????? ??????????</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VerificationValue">
        <xs:annotation>
          <xs:documentation>???????????? ??????????????, ???? ???????????????? ??????????????</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="StartDateValue" type="xs:date">
              <xs:annotation>
                <xs:documentation>???????? ???????????? ??????????????</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="EndDateValue" type="xs:date">
              <xs:annotation>
                <xs:documentation>???????? ?????????????????? ??????????????</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="SealDate" type="xs:date">
              <xs:annotation>
                <xs:documentation>???????? ?????????????????????????????? ????  ?????????? ??????????????</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="3" name="StartValue" type="tns:VolumeMeteringValueExportBaseType">
              <xs:annotation>
                <xs:documentation>?????????? ???? ???????????? ??????????????</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="3" name="EndValue" type="tns:VolumeMeteringValueExportBaseType">
              <xs:annotation>
                <xs:documentation>?????????? ???? ?????????????????? ??????????????</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:choice>
              <xs:element fixed="true" name="PlannedVerification" type="xs:boolean">
                <xs:annotation>
                  <xs:documentation>?????????????? ???????????????? ??????????????</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="VerificationReason" type="nsi-base:nsiRef">
                <xs:annotation>
                  <xs:documentation>?????????????? ???????????? ???? ???? ?????????? (?????? 224). ???????????????? ?????? ???????????????????? ??????????????.</xs:documentation>
                </xs:annotation>
              </xs:element>
            </xs:choice>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="importMeteringDeviceValuesRequest">
    <xs:annotation>
      <xs:documentation>???????????? ?????????????????? ???????????????? ??????????. ?????????????????? ?????????????????????????? ?? ???????????????? ??????????????????, ?????????????? ?????????????????? ?????????????? ?????????? ?????? ?????? ????????????????. (?????????????????? ?????????????????? ????: ?????? ???????????????????????? ???????????????? "???????????????? ????????", "?????????????? ????????", "?????????????? ?????????????? ????????" - 112 (????????) ?? 113 (???????????????????? ????????); ?????? ???? "?????????????????????????? ??????????????" - 245 (????????????????-??????); ?????? ???? "??????" - 113 (???????????????????? ????????); ?????? ???? "???????????????? ??????????????" - 233 (??????????????????????), 245 (????????????????-??????), 246 (????????????????-??????), 271 (????????????), A056 (????????????????????) ?? A058 (????????????????????))</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent mixed="false">
        <xs:extension base="base:BaseType">
          <xs:sequence>
            <xs:element minOccurs="0" name="FIASHouseGuid" type="base:GUIDType">
              <xs:annotation>
                <xs:documentation>???????????????????? ???????????????????? ?????????????????????????? ???????? ???? ????????</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="1000" name="MeteringDevicesValues">
              <xs:annotation>
                <xs:documentation>?????????????????? ?? ???????????? ???????????????????????? ???????????????? ????</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:choice>
                    <xs:element name="MeteringDeviceRootGUID" type="metering-device-base:MeteringDeviceGUIDType">
                      <xs:annotation>
                        <xs:documentation>?????????????????????????? ????</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element name="MeteringDeviceVersionGUID" type="metering-device-base:MeteringDeviceGUIDType">
                      <xs:annotation>
                        <xs:documentation>?????????????????????????? ???????????? ????</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                  </xs:choice>
                  <xs:choice>
                    <xs:element name="OneRateDeviceValue">
                      <xs:annotation>
                        <xs:documentation>?????????????????? ???? ???? (???????????????? ??????????????, ??????, ?????????????? ????????, ???????????????? ????????, ?????????????? ?????????????? ????????). ?????????????????????? ???????????? ?????? ????, ?????????????????????????????? ??????????????????</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="0" maxOccurs="3" name="CurrentValue">
                            <xs:annotation>
                              <xs:documentation>?????????????????? ???? ????????????</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                              <xs:complexContent mixed="false">
                                <xs:extension base="tns:OneRateMeteringValueImportType">
                                  <xs:sequence minOccurs="0">
                                    <xs:element minOccurs="1" name="Period" type="base:YearMonth">
                                      <xs:annotation>
                                        <xs:documentation>????????????, ???? ?????????????? ???????????????????? ??????????????????.

???????? ???? ????????????, ???? ?????????????????? ?????????????????? ?? ???????????? ???????? ???????????? ??????????????????</xs:documentation>
                                      </xs:annotation>
                                    </xs:element>
                                  </xs:sequence>
                                </xs:extension>
                              </xs:complexContent>
                            </xs:complexType>
                          </xs:element>
                          <xs:element minOccurs="0" maxOccurs="3" name="ControlValue" type="tns:OneRateMeteringValueImportType">
                            <xs:annotation>
                              <xs:documentation>?????????????????????? ??????????????????</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element minOccurs="0" name="VerificationValue">
                            <xs:annotation>
                              <xs:documentation>?????????????????? ??????????????, ???? ???????????????? ?????????????? ???????? ???????????????????????? ?? ???????????? ???????????? ???? ??????????</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="StartDateValue" type="xs:date">
                                  <xs:annotation>
                                    <xs:documentation>???????? ???????????? ??????????????</xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                                <xs:element name="EndDateValue" type="xs:date">
                                  <xs:annotation>
                                    <xs:documentation>???????? ?????????????????? ??????????????</xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                                <xs:element name="SealDate" type="xs:date">
                                  <xs:annotation>
                                    <xs:documentation>???????? ?????????????????????????????? ????  ?????????? ??????????????</xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                                <xs:element maxOccurs="3" name="StartValue" type="metering-device-base:OneRateMeteringValueBaseType">
                                  <xs:annotation>
                                    <xs:documentation>?????????????????? ???? ???????????? ??????????????</xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                                <xs:element maxOccurs="3" name="EndValue" type="metering-device-base:OneRateMeteringValueBaseType">
                                  <xs:annotation>
                                    <xs:documentation>?????????????????? ???? ?????????????????? ??????????????</xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                                <xs:choice>
                                  <xs:element fixed="true" name="PlannedVerification" type="xs:boolean">
                                    <xs:annotation>
                                      <xs:documentation>?????????????? ???????????????? ??????????????</xs:documentation>
                                    </xs:annotation>
                                  </xs:element>
                                  <xs:element name="VerificationReason" type="nsi-base:nsiRef">
                                    <xs:annotation>
                                      <xs:documentation>?????????????? ???????????? ???? ???? ?????????? (?????? 224). ???????????????? ?????? ???????????????????? ??????????????.</xs:documentation>
                                    </xs:annotation>
                                  </xs:element>
                                </xs:choice>
                                <xs:element ref="base:TransportGUID" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="ElectricDeviceValue">
                      <xs:annotation>
                        <xs:documentation>?????????????????? ???? ???? (?????????????????????????? ??????????????). ?????????????????????? ???????????? ?????? ????, ?????????????????????????????? ??????????????????</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="0" name="CurrentValue">
                            <xs:annotation>
                              <xs:documentation>?????????????????? ???? ????????????</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                              <xs:complexContent mixed="false">
                                <xs:extension base="tns:ElectricMeteringValueImportType">
                                  <xs:sequence minOccurs="0">
                                    <xs:element name="Period" type="base:YearMonth">
                                      <xs:annotation>
                                        <xs:documentation>????????????, ???? ?????????????? ???????????????????? ??????????????????.

???????? ???? ????????????, ???? ?????????????????? ?????????????????? ?? ???????????? ???????? ???????????? ??????????????????</xs:documentation>
                                      </xs:annotation>
                                    </xs:element>
                                  </xs:sequence>
                                </xs:extension>
                              </xs:complexContent>
                            </xs:complexType>
                          </xs:element>
                          <xs:element minOccurs="0" name="ControlValue" type="tns:ElectricMeteringValueImportType">
                            <xs:annotation>
                              <xs:documentation>?????????????????????? ??????????????????</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element minOccurs="0" name="VerificationValue">
                            <xs:annotation>
                              <xs:documentation>?????????????????? ??????????????, ???? ???????????????? ?????????????? ???????? ???????????????????????? ?? ???????????? ???????????? ???? ??????????</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="StartDateValue" type="xs:date">
                                  <xs:annotation>
                                    <xs:documentation>???????? ???????????? ??????????????</xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                                <xs:element name="EndDateValue" type="xs:date">
                                  <xs:annotation>
                                    <xs:documentation>???????? ?????????????????? ??????????????</xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                                <xs:element name="SealDate" type="xs:date">
                                  <xs:annotation>
                                    <xs:documentation>???????? ?????????????????????????????? ????  ?????????? ??????????????</xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                                <xs:element name="StartValue" type="metering-device-base:ElectricMeteringValueBaseType">
                                  <xs:annotation>
                                    <xs:documentation>?????????????????? ???? ???????????? ??????????????</xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                                <xs:element name="EndValue" type="metering-device-base:ElectricMeteringValueBaseType">
                                  <xs:annotation>
                                    <xs:documentation>?????????????????? ???? ?????????????????? ??????????????</xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                                <xs:choice>
                                  <xs:element fixed="true" name="PlannedVerification" type="xs:boolean">
                                    <xs:annotation>
                                      <xs:documentation>?????????????? ???????????????? ??????????????</xs:documentation>
                                    </xs:annotation>
                                  </xs:element>
                                  <xs:element name="VerificationReason" type="nsi-base:nsiRef">
                                    <xs:annotation>
                                      <xs:documentation>?????????????? ???????????? ???? ???? ?????????? (?????? 224). ???????????????? ?????? ???????????????????? ??????????????.</xs:documentation>
                                    </xs:annotation>
                                  </xs:element>
                                </xs:choice>
                                <xs:element ref="base:TransportGUID" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="VolumeDeviceValue">
                      <xs:annotation>
                        <xs:documentation>???????????? ???????????????????????? ???????????????? ???? ???? (????????????????????????????, ???????????????? ??????????????, ??????, ?????????????? ????????, ???????????????? ????????, ?????????????? ?????????????? ????????). ?????????????????????? ???????????? ?????? ????, ?????????????????????????????? ?????????? ?????????????????????????? ????  </xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element minOccurs="0" maxOccurs="3" name="CurrentValue">
                            <xs:annotation>
                              <xs:documentation>?????????? ?????????????????????? ???? ????????????</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                              <xs:complexContent mixed="false">
                                <xs:extension base="tns:VolumeMeteringValueImportType">
                                  <xs:sequence minOccurs="0">
                                    <xs:element name="Period" type="base:YearMonth">
                                      <xs:annotation>
                                        <xs:documentation>????????????, ???? ?????????????? ???????????????????? ??????????????????.

???????? ???? ????????????, ???? ?????????????????? ?????????????????? ?? ???????????? ???????? ???????????? ??????????????????</xs:documentation>
                                      </xs:annotation>
                                    </xs:element>
                                  </xs:sequence>
                                </xs:extension>
                              </xs:complexContent>
                            </xs:complexType>
                          </xs:element>
                          <xs:element minOccurs="0" maxOccurs="3" name="ControlValue" type="tns:VolumeMeteringValueImportType">
                            <xs:annotation>
                              <xs:documentation>?????????????????????? ??????????</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element minOccurs="0" name="VerificationValue">
                            <xs:annotation>
                              <xs:documentation>???????????????? ?? ??????????????, ???? ???????????????? ?????????????? ???????? ???????????????????????? ?? ???????????? ???????????? ???? ??????????</xs:documentation>
                            </xs:annotation>
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="StartDateValue" type="xs:date">
                                  <xs:annotation>
                                    <xs:documentation>???????? ???????????? ??????????????</xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                                <xs:element name="EndDateValue" type="xs:date">
                                  <xs:annotation>
                                    <xs:documentation>???????? ?????????????????? ??????????????</xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                                <xs:element name="SealDate" type="xs:date">
                                  <xs:annotation>
                                    <xs:documentation>???????? ?????????????????????????????? ????  ?????????? ??????????????</xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                                <xs:element minOccurs="0" maxOccurs="3" name="StartValue" type="metering-device-base:VolumeMeteringValueBaseType">
                                  <xs:annotation>
                                    <xs:documentation>?????????? ???? ???????????? ??????????????</xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                                <xs:element minOccurs="0" maxOccurs="3" name="EndValue" type="metering-device-base:VolumeMeteringValueBaseType">
                                  <xs:annotation>
                                    <xs:documentation>?????????? ???? ?????????????????? ??????????????</xs:documentation>
                                  </xs:annotation>
                                </xs:element>
                                <xs:choice>
                                  <xs:element fixed="true" name="PlannedVerification" type="xs:boolean">
                                    <xs:annotation>
                                      <xs:documentation>?????????????? ???????????????? ??????????????</xs:documentation>
                                    </xs:annotation>
                                  </xs:element>
                                  <xs:element name="VerificationReason" type="nsi-base:nsiRef">
                                    <xs:annotation>
                                      <xs:documentation>?????????????? ???????????? ???? ???? ?????????? (?????? 224). ???????????????? ?????? ???????????????????? ??????????????.</xs:documentation>
                                    </xs:annotation>
                                  </xs:element>
                                </xs:choice>
                                <xs:element ref="base:TransportGUID" />
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:choice>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute fixed="10.0.1.1" ref="base:version" use="required" />
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
    <xs:key name="importMeteringDeviceValuesRequest_TransportGUIDKey">
      <xs:selector xpath=".//base:TransportGUID" />
      <xs:field xpath="." />
    </xs:key>
  </xs:element>
  <xs:element name="exportMeteringDeviceHistoryRequest">
    <xs:annotation>
      <xs:documentation>?????????????? ?????????????? ?????????????????? ?? ?????????????? ???????????????? ?????????? (????) ????????????????????????, ?????????????????????????? ?? ?????????????????? ????????. ?????????????????????? ???????????????? ???????????????????? ??????????. ?????????? ?????????????????????? ???? ?????????????????? ???? ???????????? ???????? (?? ???????? ???????????? ???????????????????????????? ???????????? ???? ???????? ???? ????????????????????????). ???????? ???????????????? ?????????????? ???? 2-?? ?? ?????????? (?????? ????????) ??????????, ???? ???????????? ???????????????????????????? ??????????????, ?????????????????????? ???? ?????????? 1000 ???? ?? ???????????? ??????????. ?????? ???????????????? 2-???? ?? ?????????????????????? ???????????? ???????????????????? ?????????????????? ???????????? ?? ???????? ???? ???????????????????? ???????????????????? ?? ?????????????? ?? ?????? ?????????????? ExportMeteringDeviceRootGUID</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent mixed="false">
        <xs:extension base="base:BaseType">
          <xs:sequence>
            <xs:element minOccurs="0" maxOccurs="100" name="FIASHouseGuid" type="base:GUIDType">
              <xs:annotation>
                <xs:documentation>???????????????????? ???????????????????? ?????????????????????????? ???????? ???? ????????, ?? ?????????????? ???????????????????? ???? ????????????????????????. ?????????????????????? ???????????????? ???????????????????? ??????????????????. ???????? ???? ????????????, ???? ?????????? ???????????????????????????????? ???????????? ???? ???????? ???? ????????????????????????</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="ExportMeteringDeviceRootGUID" type="base:GUIDType">
              <xs:annotation>
                <xs:documentation>?????????????????????????? ???? ?? ?????? ??????, ???????????????????????? ?????? ???????????????? 2-???? ?? ?????????????????????? ???????????? ???????????? (????. ?????????????????? ?????????????????? ????????????????). ???????????? ?????????????????????? ????????????????, ???????????????????? ?? ???????????????? exportMeteringDeviceHistoryResult/PagedOutput/ExportMeteringDeviceRootGUID ?????? ???????????????? ?????????????????????? ?????????? ????????????. ?????? ???????????????? ?????????????? ?????????? ???????????? ?????????????? ???? ??????????????????????</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:choice>
              <xs:element maxOccurs="100" name="MeteringDeviceType" type="nsi-base:nsiRef">
                <xs:annotation>
                  <xs:documentation>?????? ?????????????? ?????????? (?????? 27)</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element maxOccurs="100" name="MunicipalResource" type="nsi-base:nsiRef">
                <xs:annotation>
                  <xs:documentation>?????? ?????????????????????????? ?????????????? (?????? 2)</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element maxOccurs="100" name="MeteringDeviceRootGUID" type="base:GUIDType">
                <xs:annotation>
                  <xs:documentation>?????????????????????????? ????</xs:documentation>
                </xs:annotation>
              </xs:element>
            </xs:choice>
            <xs:element minOccurs="0" name="CommissioningDateFrom" type="xs:date">
              <xs:annotation>
                <xs:documentation>???????? ?????????? ?? ???????????????????????? ??????</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="CommissioningDateTo" type="xs:date">
              <xs:annotation>
                <xs:documentation>???????? ?????????? ?? ???????????????????????? ????????</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="SerchArchived" type="xs:boolean">
              <xs:annotation>
                <xs:documentation>?????????????????? ????????????????????????????</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="ArchiveDateFrom" type="xs:date">
              <xs:annotation>
                <xs:documentation>???????? ?????????????????? ??????</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="ArchiveDateTo" type="xs:date">
              <xs:annotation>
                <xs:documentation>???????? ?????????????????? ????????</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="inputDateFrom" type="xs:date">
              <xs:annotation>
                <xs:documentation>???????? ???????????? ??????????????, ???? ?????????????? ?????????????????????? ?????????????????? ?? ?????????????? ???? (???? ???????? ???????????? ??????????????????). ???????????????? ???? ??????????????????: 1-?? ?????????? ?????????????????????? ???????????????????????? ????????????. ???????????? ???????????????? ?????????????????? ???? (???????????????????????? ???????????????????? inputDateFrom ?? inputDateTo) ???? ???????????? ???????????????? ???? ?????????????? ???????? ???????????????????????????????? ?????????????????????? ??????????????</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="inputDateTo" type="xs:date">
              <xs:annotation>
                <xs:documentation>???????? ?????????????????? ??????????????, ???? ?????????????? ?????????????????????? ?????????????????? ?? ?????????????? ???? (???? ???????? ???????????? ??????????????????). ???????????????? ???? ??????????????????: ?????????????? ????????. ???????????? ???????????????? ?????????????????? ???? (???????????????????????? ???????????????????? inputDateFrom ?? inputDateTo) ???? ???????????? ???????????????? ???? ?????????????? ???????? ???????????????????????????????? ?????????????????????? ??????????????</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="ExcludePersonAsDataSource" type="xs:boolean">
              <xs:annotation>
                <xs:documentation>???????? ???????? ?????????????? ?????? ??????????????????????, ???? ??????????????????, ?????????????????? ?? ?????????????? ??????????????????????, ???????????????????? ?? ????????????????. ???????? ???????? ????????????????????, ???? ?????????? ?????????????????? ?? ???????????????? ???? ????????????????????</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="ExcludeCurrentOrgAsDataSource" type="xs:boolean">
              <xs:annotation>
                <xs:documentation>???????? ???????? ?????????????? ?????? ??????????????????????, ???? ??????????????????, ?????????????????? ?? ?????????????? ?????????????? ????????????????????????, ???????????????????? ?? ???????????????? (?????? ??????????????, ?????? ???? ???????????????????? ???????? excludeISValues). ???????? ???????? ????????????????????, ???? ?????????? ?????????????????? ?? ???????????????? ???? ????????????????????</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="ExcludeOtherOrgAsDataSource" type="xs:boolean">
              <xs:annotation>
                <xs:documentation>???????? ???????? ?????????????? ?????? ??????????????????????, ???? ??????????????????, ?????????????????? ?? ?????????????? ?????????????????????????? ???????????????? ???? ??????????????, ???????????????????? ?? ????????????????. ???????? ???????? ????????????????????, ???? ?????????? ?????????????????? ?? ???????????????? ???? ????????????????????</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="excludeISValues" type="xs:boolean">
              <xs:annotation>
                <xs:documentation>???????? ???????? ????????????????????, ???? ?? ???????????????? ???????????????????? ???????????? ??????????????????, ?????????????????? ?? ???????????? ???????????????? ?????? ?????????????????????? ?????????????????????????? ???????????????? ???? ??????????????. ?? ?????????????????? ?????????????? ?????????????????????? ?????? ??????????????????. (???????????????????? ????????????????????????????????, ?????????????? ?????????????????????????? ?????????????? ExcludePersonAsDataSource, ExcludeCurrentOrgAsDataSource, ExcludeOtherOrgAsDataSource)</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
          <xs:attribute ref="base:version" use="required" />
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="exportMeteringDeviceHistoryResultType">
    <xs:annotation>
      <xs:documentation>?????????????? ?????????????????? ?? ?????????????? ???????????????? ??????????. ???????????????? ?????????????????? ?? ?????????????? ?????????????????????? ?? ???????????????? ?????????????????? (????), ?????????????? ?????????????????? ?????????????? ?????????? ?????? ?????? ????????????????. ???????? ???? ?????????????? ?????????? ???????????????????? ???? ???? ?????????????????????????? ?????????????? (????) ???? ??????????????????, ???? ?????????????????????????? ?????????????????????? ???????????????? ?????????????????? ?? ?????????????? ?? ???? ???? ???? ??????????????????</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="MeteringDeviceRootGUID" type="metering-device-base:MeteringDeviceGUIDType">
        <xs:annotation>
          <xs:documentation>?????????????????????????? ????</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="HCSHouseGUID" type="base:GUIDType">
        <xs:annotation>
          <xs:documentation>???????????????????? ?????????????????????????? ????????-?????????? ?????????????????? ???? (?? ?????? ??????). ?????????????????????? ????????????, ?????????? ????????????, ?????????? ?? ?????????????? exportMeteringDeviceHistoryRequest ???????????? ?????????? ???????? ?????????????? tns:FIASHouseGuid</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="FIASHouseGuid" type="base:GUIDType">
        <xs:annotation>
          <xs:documentation>???????????????????? ?????????????????????????? ????????-?????????? ?????????????????? ???? (???? ????????). ?????????????????????? ????????????, ?????????? ????????????, ?????????? ?? ?????????????? exportMeteringDeviceHistoryRequest ???????????? ?????????? ???????? ?????????????? tns:FIASHouseGuid</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:choice>
        <xs:element name="OneRateDeviceValue">
          <xs:annotation>
            <xs:documentation>?????????????????? ???? ?????????????? ????????????????/?????????????? ????????; ????????; ???????????????? ??????????????. ?????????????????????? ???????????? ?????? ????, ?????????????????????????????? ??????????????????</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" maxOccurs="3" name="BaseValue" type="tns:OneRateMeteringValueExportType">
                <xs:annotation>
                  <xs:documentation>?????????????? ??????????????????</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="1" name="Values">
                <xs:annotation>
                  <xs:documentation>??????????????????</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="CurrentValue">
                      <xs:annotation>
                        <xs:documentation>?????????????????? ???? ????????????</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:complexContent mixed="false">
                          <xs:extension base="tns:OneRateCurrentMeteringValueExportType">
                            <xs:sequence minOccurs="0">
                              <xs:element name="Period" type="base:YearMonth">
                                <xs:annotation>
                                  <xs:documentation>????????????, ?? ???????????????? ?????????????????? ??????????????????</xs:documentation>
                                </xs:annotation>
                              </xs:element>
                            </xs:sequence>
                          </xs:extension>
                        </xs:complexContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="ControlValue" type="tns:OneRateCurrentMeteringValueExportType">
                      <xs:annotation>
                        <xs:documentation>?????????????????????? ??????????????????</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="VerificationValue">
                      <xs:annotation>
                        <xs:documentation>?????????????????? ??????????????, ???? ???????????????? ??????????????</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="StartDateValue" type="xs:date">
                            <xs:annotation>
                              <xs:documentation>???????? ???????????? ??????????????</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="EndDateValue" type="xs:date">
                            <xs:annotation>
                              <xs:documentation>???????? ?????????????????? ??????????????</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="SealDate" type="xs:date">
                            <xs:annotation>
                              <xs:documentation>???????? ?????????????????????????????? ????  ?????????? ??????????????</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element maxOccurs="3" name="StartValue" type="tns:OneRateMeteringValueExportType">
                            <xs:annotation>
                              <xs:documentation>?????????????????? ???? ???????????? ??????????????</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element maxOccurs="3" name="EndValue" type="tns:OneRateMeteringValueExportType">
                            <xs:annotation>
                              <xs:documentation>?????????????????? ???? ?????????????????? ??????????????</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:choice>
                            <xs:element fixed="true" name="PlannedVerification" type="xs:boolean">
                              <xs:annotation>
                                <xs:documentation>?????????????? ???????????????? ??????????????</xs:documentation>
                              </xs:annotation>
                            </xs:element>
                            <xs:element name="VerificationReason" type="nsi-base:nsiRef">
                              <xs:annotation>
                                <xs:documentation>?????????????? ???????????? ???? ???? ?????????? (?????? 224). ???????????????? ?????? ???????????????????? ??????????????.</xs:documentation>
                              </xs:annotation>
                            </xs:element>
                          </xs:choice>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="excludeISValues" type="xs:boolean">
                      <xs:annotation>
                        <xs:documentation>?????????????????? ??????????????????, ?????????????????? ?????????????? ???? ?????????????? ????.
(?????????? ?????????????????? ?????????? ???????? ?????????????? ???? ???????????? ?????????? ??????, ?? ?? ?????????????? ???????????? ????) ???????? ???????? = "????????????", ???? ?????????????????????? ??????????????????, ?????????????????? ?????????? ?????? ?? ?? ?????????????? ???????????? ????, ?? ?????????????????? ?????????????? ?????????????????????? ?????? ??????????????????</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="ElectricDeviceValue">
          <xs:annotation>
            <xs:documentation>?????????????????? ???? ?????????????? ????????????????????????????. ?????????????????????? ???????????? ?????? ????, ?????????????????????????????? ??????????????????</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element minOccurs="0" name="BaseValue" type="tns:ElectricMeteringValueExportType">
                <xs:annotation>
                  <xs:documentation>?????????????? ??????????????????</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="1" name="Values">
                <xs:annotation>
                  <xs:documentation>??????????????????</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:sequence>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="CurrentValue">
                      <xs:annotation>
                        <xs:documentation>?????????????????? ???? ????????????</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:complexContent mixed="false">
                          <xs:extension base="tns:ElectricCurrentMeteringValueExportType">
                            <xs:sequence minOccurs="0">
                              <xs:element name="Period" type="base:YearMonth">
                                <xs:annotation>
                                  <xs:documentation>????????????, ?? ???????????????? ?????????????????? ??????????????????</xs:documentation>
                                </xs:annotation>
                              </xs:element>
                            </xs:sequence>
                          </xs:extension>
                        </xs:complexContent>
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="ControlValue" type="tns:ElectricCurrentMeteringValueExportType">
                      <xs:annotation>
                        <xs:documentation>?????????????????????? ??????????????????</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element minOccurs="0" maxOccurs="unbounded" name="VerificationValue">
                      <xs:annotation>
                        <xs:documentation>?????????????????? ??????????????, ???? ???????????????? ??????????????</xs:documentation>
                      </xs:annotation>
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="StartDateValue" type="xs:date">
                            <xs:annotation>
                              <xs:documentation>???????? ???????????? ??????????????</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="EndDateValue" type="xs:date">
                            <xs:annotation>
                              <xs:documentation>???????? ?????????????????? ??????????????</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="SealDate" type="xs:date">
                            <xs:annotation>
                              <xs:documentation>???????? ?????????????????????????????? ????  ?????????? ??????????????</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="StartValue" type="tns:ElectricMeteringValueExportType">
                            <xs:annotation>
                              <xs:documentation>?????????????????? ???? ???????????? ??????????????</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:element name="EndValue" type="tns:ElectricMeteringValueExportType">
                            <xs:annotation>
                              <xs:documentation>?????????????????? ???? ?????????????????? ??????????????</xs:documentation>
                            </xs:annotation>
                          </xs:element>
                          <xs:choice>
                            <xs:element fixed="true" name="PlannedVerification" type="xs:boolean">
                              <xs:annotation>
                                <xs:documentation>?????????????? ???????????????? ??????????????</xs:documentation>
                              </xs:annotation>
                            </xs:element>
                            <xs:element name="VerificationReason" type="nsi-base:nsiRef">
                              <xs:annotation>
                                <xs:documentation>?????????????? ???????????? ???? ???? ?????????? (?????? 224). ???????????????? ?????? ???????????????????? ??????????????.</xs:documentation>
                              </xs:annotation>
                            </xs:element>
                          </xs:choice>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element minOccurs="0" name="excludeISValues" type="xs:boolean">
                      <xs:annotation>
                        <xs:documentation>?????????????????? ??????????????????, ?????????????????? ?????????????? ???? ?????????????? ????.
(?????????? ?????????????????? ?????????? ???????? ?????????????? ???? ???????????? ?????????? ??????, ?? ?? ?????????????? ???????????? ????) ???????? ???????? = "????????????", ???? ?????????????????????? ??????????????????, ?????????????????? ?????????? ?????? ?? ?? ?????????????? ???????????? ????, ?? ?????????????????? ?????????????? ?????????????????????? ?????? ??????????????????</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="VolumeDeviceValue">
          <xs:annotation>
            <xs:documentation>???????????? ?????????????????????? ???????????????? ???? (????????????????????????????, ???????????????? ??????????????, ??????, ?????????????? ????????, ???????????????? ????????, ?????????????? ?????????????? ????????). ?????????????????????? ???????????? ?????? ????, ?????????????????????????????? ?????????? ?????????????????????????? ???? </xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:complexContent mixed="false">
              <xs:extension base="tns:VolumeMeteringValueExportType">
                <xs:sequence>
                  <xs:element minOccurs="0" name="excludeISValues" type="xs:boolean">
                    <xs:annotation>
                      <xs:documentation>?????????????????? ????????????, ?????????????????? ?????????????? ???? ?????????????? ????.
(?????????? ???????????? ?????????? ???????? ?????????????? ???? ???????????? ?????????? ??????, ?? ?? ?????????????? ???????????? ????) ???????? ???????? = "????????????", ???? ?????????????????????? ????????????, ?????????????????? ?????????? ?????? ?? ?? ?????????????? ???????????? ????, ?? ?????????????????? ?????????????? ?????????????????????? ?????? ????????????</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                </xs:sequence>
              </xs:extension>
            </xs:complexContent>
          </xs:complexType>
        </xs:element>
      </xs:choice>
      <xs:element minOccurs="0" name="ArchivedValues">
        <xs:annotation>
          <xs:documentation>???????????? ???? ?????????????????? ????</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="ArchivingReason" type="nsi-base:nsiRef">
              <xs:annotation>
                <xs:documentation>?????????????? ??????????????????. ???????????? ???? ?????? "?????????????? ?????????????????? ?????????????? ??????????" (???????????????????? ?????????? 21).</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="getStateResult">
    <xs:annotation>
      <xs:documentation>?????????????? ?????????????? ?????????????????????????? ??????????????????</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent mixed="false">
        <xs:extension base="base:BaseAsyncResponseType">
          <xs:choice minOccurs="0">
            <xs:element ref="base:ErrorMessage" />
            <xs:element maxOccurs="unbounded" name="ImportResult" type="base:CommonResultType" />
            <xs:sequence>
              <xs:element maxOccurs="unbounded" name="exportMeteringDeviceHistoryResult" type="tns:exportMeteringDeviceHistoryResultType" />
              <xs:element minOccurs="0" name="PagedOutput">
                <xs:annotation>
                  <xs:documentation>??????????????????, ???????????????????????? ?????? ???????????????? ?????????????????? ?? ?????????????? ???? ??????????????, ?????????????????????? ???? ?????????? 1000 ???? ?? ???????????? ??????????. ?????????????????????? ????????????, ?????????? ????????????, ?????????? ?? ?????????????? exportMeteringDeviceHistoryRequest ???????????? ?????????? ???????? ?????????????? tns:FIASHouseGuid</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:choice>
                    <xs:element name="ExportMeteringDeviceRootGUID" type="base:GUIDType">
                      <xs:annotation>
                        <xs:documentation>???????????????? ?????????????????????????? ???? ?? ?????? ?????? ?????? ?????????????????? ???????????????????? ?????????? ??????????????</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                    <xs:element fixed="true" name="LastPage" type="xs:boolean">
                      <xs:annotation>
                        <xs:documentation>?????????????? ???????????????????? ?????????? ??????????????</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                  </xs:choice>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:choice>
          <xs:attribute fixed="10.0.1.1" ref="base:version" use="required" />
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
</xs:schema>