Hcs.ClientApi/Connected Services/Service.Async.DebtRequests.v14_5_0_1/hcs-debt-requests-types.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:base="http://dom.gosuslugi.ru/schema/integration/base/" xmlns:tns="http://dom.gosuslugi.ru/schema/integration/drs/" xmlns:nsi-base="http://dom.gosuslugi.ru/schema/integration/nsi-base/" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://dom.gosuslugi.ru/schema/integration/drs/" version="14.0.0.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="../lib/hcs-base.xsd" namespace="http://dom.gosuslugi.ru/schema/integration/base/" />
  <xs:import schemaLocation="../lib/hcs-nsi-base.xsd" namespace="http://dom.gosuslugi.ru/schema/integration/nsi-base/" />
  <xs:element name="importDRsRequest">
    <xs:annotation>
      <xs:documentation>???????????? ?? ?????? ?????? ???????????????? ?? ?????????????? ?????????????????????????? ???? ??????. ???????????????? ???????????? 13.1.10.1 ?? 14.0.0.0</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent mixed="false">
        <xs:extension base="base:BaseType">
          <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="100" name="action">
              <xs:annotation>
                <xs:documentation>???????????????? ?????? ????????????????  ?? ?????????????? ?????????????????????????? ???? ??????</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:element ref="base:TransportGUID" />
                  <xs:element minOccurs="0" name="requestGUID" type="base:GUIDType">
                    <xs:annotation>
                      <xs:documentation>?????????????????????????? ?????????????? ?? ?????????????? ?????????????????????????? ???? ??????.

												???????????????????? ?????? ???????????????? Revoke.

												?????? ???????????????? Send ?????????????????????? ?? ?????? ????????????, ???????? ?????????????????????? ?????? ???????????????????????? ?????? ???????????????????????? ?? ?????? ?????? ????????????</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="actionType" type="tns:DRActionType">
                    <xs:annotation>
                      <xs:documentation>?????? ???????????????? ?????? ???????????????? ?? ?????????????? ?????????????????????????? ???? ??????.

												???????????????????? ????????????????:
												Send - ?????????????????? ???????????? ?????????????????????? ??????;
												Revoke - ???????????????? ????????????, ?????????? ???????????????????????? ?????????????????????? ??????.

												?????? ???????????????? Send ???????????? ???????? ???????????? ???????? ???? ???????? ???? ?????????????????? requestGUID ?????? requestData</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element minOccurs="0" name="requestData" type="tns:ImportDRType">
                    <xs:annotation>
                      <xs:documentation>???????????? ?????????????? ?? ?????????????? ?????????????????????????? ???? ??????.

												?????????????????????? ???????????? ?????? ???????????????? Send.

												???????? ???????????????? ?????????????? ?? ?????? ???????????????????????? ?? ?????? ?????? ???????????????? (???????????? ?????????????? requestGUID), ???? ?????????????? ???????????????? ???????????????????????? ?????? ?????????????????? ?????????????? ?????????? ?????? ???????????????????????? ?????????????????????? ??????. ?? ?????????????????? ????????????, ?????????????? ???????????????? ???????????????????????? ?????? ???????????????? ?? ?????? ?????? ???????????? ??????????????, ?????????????? ???????????????????????? ?????????????????????? ??????</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute ref="base:version" use="required" />
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
    <xs:key name="importDRs_TransportGUIDKey">
      <xs:annotation>
        <xs:documentation>???????????????? ???????????????????????? ?????????????????????????? ???????????????????????????? ?? ???????????? ??????????????</xs:documentation>
      </xs:annotation>
      <xs:selector xpath=".//base:TransportGUID" />
      <xs:field xpath="." />
    </xs:key>
    <xs:key name="importDRs_DRGUIDKey">
      <xs:annotation>
        <xs:documentation>???????????????? ???????????????????????? ???????????????????? ?? ?????????????? ?????????????????????????? ?? ???????????? importDRsRequest</xs:documentation>
      </xs:annotation>
      <xs:selector xpath="tns:action/tns:requestGUID" />
      <xs:field xpath="." />
    </xs:key>
  </xs:element>
  <xs:element name="exportDRsRequest">
    <xs:annotation>
      <xs:documentation>?????????????? ???? ?????? ?????? ???????????????? ?? ?????????????? ?????????????????????????? ???? ??????. ???????????????? ???????????? 13.1.10.1 ?? 14.0.0.0</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent mixed="false">
        <xs:extension base="base:BaseType">
          <xs:choice minOccurs="1">
            <xs:annotation>
              <xs:documentation>?????????????? ???????????? ???????????????? ?? ?????????????? ?????????????????????????? ???? ??????</xs:documentation>
            </xs:annotation>
            <xs:element maxOccurs="100" name="requestGUID" type="base:GUIDType">
              <xs:annotation>
                <xs:documentation>?????????????????????????? ?????????????? ?? ?????????????? ?????????????????????????? ???? ??????</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="100" name="requestNumber" type="tns:RequestNumberType">
              <xs:annotation>
                <xs:documentation>?????????? ??????????????, ?????????????????????? ?????? ??????</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:sequence>
              <xs:annotation>
                <xs:documentation>?????????????? ???????????? ???? ?????????????????? ??????????????.

									?????????????? ?????????? ?????????????????????? ?? ?????????? ????????????????????. ?? ???????????????? ?????????????????? ?????????? ???????????????? ???????????? ???? ?????????????? ?? ??????????????????????????, ?????????????? ?????????????????????????? ???????? ?????????????????? ????????????????. ?????????????? ?????????????????? ??????????????????????, ???????? ???????????????? ???????????????????????????????? ???????????????? ?????????????? ?? ??????????????????????????

									???????? ?????????????????? ?? ?????????????????? ?? ?????????????? ?????????????????? (?????????????????? ?? ???????????????? applicantInfo);

									???????? ?????????????????? ?? ?????????? ???? ?????????????????? ?? ?????????????? ???????????????? (?????? ?????????????????? requestStatus, requestResult, houseGuid);

									???????? ???????????????? ?? ???????????????? ?????????????????? ???????????? (?????? ??????????????????, ???????????????? ?????????????????? ????????????)</xs:documentation>
              </xs:annotation>
              <xs:element minOccurs="1" name="requestCreationPeriod" type="base:Period">
                <xs:annotation>
                  <xs:documentation>???????????? ???????????????? ?????????????? ?? ?????? ??????.

										?????????????????????? ???????????? ???? ???????????? ?????????????????? 6-???? ??????????????</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="0" name="periodOfSendingRequest" type="base:Period">
                <xs:annotation>
                  <xs:documentation>???????????? ?????????????????????? ?????????????? ?????????????????????? ??????.

										?????????????????????? ???????????? ???? ???????????? ?????????????????? 6-???? ??????????????</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="0" name="periodOfResponseDate" type="base:PeriodOpen">
                <xs:annotation>
                  <xs:documentation>???????????? ???????????????? ?????????? ???????????? ???? ????????????</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="0" name="applicantInfo" type="tns:ApplicantInfoRequestType">
                <xs:annotation>
                  <xs:documentation>???????????????????? ?? ??????????????????</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:choice minOccurs="0">
                <xs:element minOccurs="0" maxOccurs="100" name="exportHMObjectGUID" type="tns:ExportHMObjectInfoType">
                  <xs:annotation>
                    <xs:documentation>?????????????????????????? ????????/??????????????????/?????????????? ?? ?????????????? ???????????????? ???????????????? ?????? ?????? ?? ?????? ??????.
?????????????????????? ?????? ???????????? 14.0.0.0</xs:documentation>
                  </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" maxOccurs="100" name="houseGUID" type="base:GUIDType">
                  <xs:annotation>
                    <xs:documentation>?????????????????????????? ???????? ?? ?????????????? ???????????????? ???????????????? ?????? ??????, ???? ???????????????? ???????????????????????????? ????????????.
?????????????????????? ?????? ???????????? 13.1.10.1</xs:documentation>
                  </xs:annotation>
                </xs:element>
              </xs:choice>
              <xs:element minOccurs="0" maxOccurs="4" name="requestStatus" type="tns:AllRequestStatusesType">
                <xs:annotation>
                  <xs:documentation>???????????? ?????????????? ?? ?????? ??????.

										???????????????????? ????????????????:
										Draft - ????????????;
										Processing - ?? ??????????????????;
										Sent - ?????????????????? ?????????????????????? ??????;
										Processed - ?????????????? ??????????;
										Revoked - ??????????????</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="0" maxOccurs="unbounded" name="requestResult" type="nsi-base:nsiRef">
                <xs:annotation>
                  <xs:documentation>?????????????????? ???????????????????? ?????????????? ?? ?????????????? ?????????????????????????? ???? ?????? (?????? #357)</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="0" name="exportRequestGUID" type="base:GUIDType">
                <xs:annotation>
                  <xs:documentation>??????????????????????????, ???????????????????????? ?????? ???????????????? 2-???? ?? ?????????????????????? ???????????? ????????????.

										???????? ?? ???????????????? exportDRsRequest ?????????????? ?????????????? ???????????? ???? ?????????????????? ??????????????, ???? ?????????????? ???????????????? ???????????????????????????? ?????????????? ???? 100 ???????????????? ?? ???????????? ?????????? (?????????????????? ???????? ?????????? ?????????????????? ?????????????? ?????????? ????????????????).

										?????? ???????????????? ?????????????? ?????????? ???????????? ?????????????? ???? ??????????????????????. ?????? ???????????????? ?????????????? ???????????????????? ?????????? ???????????? ?? ???????????????? ???????????? ?????????????????????? ???????????????? ???????????????? getStateResult/ exportDRsResult/ pagedOutput/ nextRequestGUID, ???????????????????? ?????? ???????????????? ?????????????????????? ?????????? ????????????</xs:documentation>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
          </xs:choice>
          <xs:attribute ref="base:version" use="required" />
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="exportDRsResult">
    <xs:annotation>
      <xs:documentation>?????????????????? ???????????????? ???? ?????? ?????? ???????????????? ?? ?????????????? ?????????????????????????? ???? ??????. ???????????????? ???????????? 13.1.10.1 ?? 14.0.0.0</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent mixed="false">
        <xs:extension base="base:BaseType">
          <xs:choice>
            <xs:element name="exportDRsResult" type="tns:exportDRsResultType">
              <xs:annotation>
                <xs:documentation>?????????????????? ???????????????????? ?????????????? ???? ?????????????? ???? ?????? ?????? ???????????????? ?? ?????????????? ?????????????????????????? ???? ??????</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element ref="base:ErrorMessage" />
          </xs:choice>
          <xs:attribute ref="base:version" use="required" />
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="exportDRsResultType">
    <xs:annotation>
      <xs:documentation>?????? ?????? ???????????????????? ???????????????? ???? ?????? ?????? ???????????????? ?? ?????????????? ?????????????????????????? ???? ??????</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="unbounded" name="requestData" type="tns:ExportDRType">
        <xs:annotation>
          <xs:documentation>???????????? ?????????????? ?? ?????????????? ?????????????????????????? ???? ??????</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="notFound">
        <xs:annotation>
          <xs:documentation>?????????????? ?? ?????????????? ?????????????????????????? ???? ??????, ???????????? ?? ?????????????? ???? ?????????????? ?? ?????? ?????? </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:choice>
            <xs:element maxOccurs="unbounded" name="requestGUID" type="base:GUIDType">
              <xs:annotation>
                <xs:documentation>?????????????????????????? ?????????????? ?? ?????????????? ?????????????????????????? ???? ??????</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" name="requestNumber" type="tns:RequestNumberType">
              <xs:annotation>
                <xs:documentation>?????????? ??????????????, ?????????????????????? ?????? ??????</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="pagedOutput">
        <xs:annotation>
          <xs:documentation>??????????????????, ?????????????????????? ??????  ???????????????? ???????????????????? ?????????? ???????????? (????. ?????????????????? ???????????????? exportDRsRequest/ exportRequestGUID).

						??????????????????????, ???????? ?? ???????????????? exportDRsRequest ?????????????? ?????????????? ???????????? ???? ?????????????????? ??????????????</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:choice>
            <xs:element name="nextRequestGUID" type="base:GUIDType">
              <xs:annotation>
                <xs:documentation>??????????????????????????, ?????????????? ???????????????????? ?????????????? ?? ???????????????? exportDRsRequest/ exportRequestGUID ?????? ???????????????? ???????????????????? ?????????? ????????????</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element fixed="true" name="lastPage" type="xs:boolean">
              <xs:annotation>
                <xs:documentation>?????????????? ????????, ?????? ?????????????? ???????????????????????????? ???????? ???????????????? ??????????????????</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:choice>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="exportDSRsRequest">
    <xs:annotation>
      <xs:documentation>?????????????? ???? ?????? ?????? ?????????????????????? ?? ?????????????? ?????????????????????????? ???? ??????, ???????????????????????????? ?????? ??????. ???????????????? ???????????? 13.1.10.1 ?? 14.0.0.0</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent mixed="false">
        <xs:extension base="base:BaseType">
          <xs:sequence>
            <xs:choice>
              <xs:annotation>
                <xs:documentation>?????????????? ???????????? ??????????????????????</xs:documentation>
              </xs:annotation>
              <xs:element maxOccurs="100" name="subrequestGUID" type="base:GUIDType">
                <xs:annotation>
                  <xs:documentation>?????????????????????????? ????????????????????, ?????????????????????????????? ?????? ??????</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element maxOccurs="100" name="requestNumber" type="tns:RequestNumberType">
                <xs:annotation>
                  <xs:documentation>?????????? ?????????????? ?? ?????????????? ?????????????????????????? ???? ??????, ?????????????????????????? ?? ?????? ?????? </xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:sequence>
                <xs:annotation>
                  <xs:documentation>?????????????? ???? ???????????????? ?????????????? / ????????????????????</xs:documentation>
                </xs:annotation>
                <xs:element minOccurs="1" name="periodOfSendingRequest" type="base:Period">
                  <xs:annotation>
                    <xs:documentation>???????????? ?????????????????????? ?????????????? ?????????????????????? ??????.
											?????????????????????? ???????????? ???? ???????????? ?????????????????? 6-???? ??????????????</xs:documentation>
                  </xs:annotation>
                </xs:element>
                <xs:choice minOccurs="0">
                  <xs:element minOccurs="0" maxOccurs="100" name="houseGUID" type="base:GUIDType">
                    <xs:annotation>
                      <xs:documentation>?????????????????????????? ???????? ?? ?????????????? ???????????????? ???????????????? ?????? ??????, ?? ?????????????? ???????????? ???????????? ?? ?????????????? ??????????????????????????.
?????????????????????? ?????? ???????????? 13.1.10.1</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element minOccurs="0" maxOccurs="100" name="exportHMObjectGUID" type="tns:ExportHMObjectInfoType">
                    <xs:annotation>
                      <xs:documentation>?????????????????????????? ????????/??????????????????/?????????????? ?? ?????????????? ???????????????? ???????????????? ?????? ?????? ?? ?????? ??????.
?????????????????????? ?????? ???????????? 14.0.0.0</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                </xs:choice>
                <xs:element minOccurs="0" name="requestStatus" type="tns:RequestStatusType">
                  <xs:annotation>
                    <xs:documentation>???????????? ??????????????, ?????????????????????????? ?? ?????? ??????.

											???????????????????? ????????????????:
											Sent - ??????????????????;
											Processed - ?????????????? ??????????</xs:documentation>
                  </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" maxOccurs="2" name="responseStatus" type="tns:ResponseStatusType">
                  <xs:annotation>
                    <xs:documentation>???????????? ???????????? ???? ??????????????????, ???????????????????????????? ?????? ??????.

											???????????????????? ????????????????:
											NotSent - ???? ??????????????????;
											Sent - ??????????????????;
											AutoGenerated - ?????????????????????? ??????????????????????????</xs:documentation>
                  </xs:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="exportSubrequestGUID" type="base:GUIDType">
                  <xs:annotation>
                    <xs:documentation>??????????????????????????, ???????????????????????? ?????? ???????????????? 2-???? ?? ?????????????????????? ???????????? ????????????.

											???????? ?? ???????????????? exportDSRsRequest ?????????????? ?????????????? ???????????? ???? ?????????????????? ??????????????/????????????????????, ???? ?????????????? ?????????????????????? ???????????????????????????? ?????????????? ???? 100 ?????????????????????? ?? ???????????? ?????????? (?????????????????? ???????? ?????????? ?????????????????? ?????????????? ?????????? ??????????????????????).

											?????? ???????????????? ?????????????? ?????????? ???????????? ?????????????? ???? ??????????????????????. ?????? ???????????????? ?????????????? ???????????????????? ?????????? ???????????? ?? ???????????????? ???????????? ?????????????????????? ???????????????? ???????????????? getStateResult/ exportDSRsResult/ pagedOutput/ nextSubrequestGUID, ???????????????????? ?????? ???????????????? ?????????????????????? ?????????? ????????????</xs:documentation>
                  </xs:annotation>
                </xs:element>
              </xs:sequence>
            </xs:choice>
            <xs:element minOccurs="0" name="includeResponses" type="xs:boolean">
              <xs:annotation>
                <xs:documentation>?????????????? ?????????????????? ?? ?????????????????? ???????????????? ???? ?????????????? ???? ?????????????? ?? ?????????????????????????? ???? ??????.
?????????????????????? ?????? ???????????? 13.1.10.1</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
          <xs:attribute ref="base:version" use="required" />
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="exportDSRsResult">
    <xs:annotation>
      <xs:documentation>?????????????????? ???????????????? ???? ?????? ?????? ?????????????????????? ?? ?????????????? ?????????????????????????? ???? ??????, ???????????????????????????? ?????? ??????. ???????????????? ???????????? 13.1.10.1 ?? 14.0.0.0</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent mixed="false">
        <xs:extension base="base:BaseType">
          <xs:choice>
            <xs:element name="exportDSRsResult" type="tns:exportDSRsResultType">
              <xs:annotation>
                <xs:documentation>?????????????????? ???????????????????? ?????????????? ???? ?????????????? ?????????????????????? ?? ?????????????? ?????????????????????????? ???? ??????, ???????????????????????????? ?????? ??????</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element ref="base:ErrorMessage" />
          </xs:choice>
          <xs:attribute ref="base:version" use="required" />
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="exportDSRsResultType">
    <xs:annotation>
      <xs:documentation>?????? ?????? ???????????????????? ???????????????? ???? ?????? ?????? ?????????????????????? ?? ?????????????? ?????????????????????????? ???? ??????, ???????????????????????????? ?????? ??????</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="unbounded" name="subrequestData" type="tns:DSRType">
        <xs:annotation>
          <xs:documentation>???????????? ???????????????????? ?? ?????????????? ?????????????????????????? ???? ??????</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="1" name="notFound">
        <xs:annotation>
          <xs:documentation>?????????????? ?? ???????????????????? ?? ?????????????? ?????????????????????????? ???? ??????, ???????????? ?? ?????????????? ???? ?????????????? ?? ?????? ?????? </xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:choice>
            <xs:element maxOccurs="unbounded" name="subrequestGUID" type="base:GUIDType">
              <xs:annotation>
                <xs:documentation>?????????????????????????? ????????????????????, ?????????????????????????????? ?????? ??????</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" name="requestNumber" type="tns:RequestNumberType">
              <xs:annotation>
                <xs:documentation>?????????? ?????????????? ?? ?????????????? ?????????????????????????? ???? ??????, ?????????????????????????? ?? ?????? ?????? </xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:choice>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" name="pagedOutput">
        <xs:annotation>
          <xs:documentation>??????????????????, ?????????????????????? ??????  ???????????????? ???????????????????? ?????????? ???????????? (????. ?????????????????? ???????????????? exportDSRsRequest/ exportSubrequestGUID).

						??????????????????????, ???????? ?? ???????????????? exportDSRsRequest ?????????????? ?????????????? ???????????? ???? ?????????????????? ?????????????? / ????????????????????</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:choice>
            <xs:element name="nextSubrequestGUID" type="base:GUIDType">
              <xs:annotation>
                <xs:documentation>??????????????????????????, ?????????????? ???????????????????? ?????????????? ?? ???????????????? exportDSRsRequest/ exportSubrequestGUID ?????? ???????????????? ???????????????????? ?????????? ????????????</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element fixed="true" name="lastPage" type="xs:boolean">
              <xs:annotation>
                <xs:documentation>?????????????? ????????, ?????? ?????????????? ???????????????????????????? ???????? ???????????????? ??????????????????</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:choice>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="importDSRResponsesRequest">
    <xs:annotation>
      <xs:documentation>???????????? ?? ?????? ?????? ?????????????? ???? ???????????????????? ?? ?????????????? ?????????????????????????? ???? ??????, ???????????????????????????? ?????? ??????</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent mixed="false">
        <xs:extension base="base:BaseType">
          <xs:sequence>
            <xs:element minOccurs="1" maxOccurs="100" name="action">
              <xs:annotation>
                <xs:documentation>???????????????? ?? ?????????????? ???? ?????????????????? ?? ?????????????? ??????????????????????????</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:element ref="base:TransportGUID" />
                  <xs:element name="subrequestGUID" type="base:GUIDType">
                    <xs:annotation>
                      <xs:documentation>?????????????????????????? ???????????????????? ?? ?????????????? ??????????????????????????, ?????????????????????????????? ?????? ??????</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element name="actionType" type="tns:DSRResponseActionType">
                    <xs:annotation>
                      <xs:documentation>?????? ???????????????? ?? ?????????????? ???? ??????????????????.

												???????????????????? ????????????????:
												Send - ?????????????????? ??????????;
												Revoke - ???????????????? ?????????? ???????????????????????? ??????????</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element minOccurs="0" maxOccurs="1" name="responseData" type="tns:ImportDSRResponseType">
                    <xs:annotation>
                      <xs:documentation>?????????? ???? ??????????????????.

												?????????????????????? ???????????? ?????? ???????????????? Send.

												???????? ?????? ???????????????????? ?????????? ?????? ???????????????????? ?? ?????? ??????, ???? ?????????????? ???????????????? ???????????????????????? ?????? ?????????????????? ???????????? ?????????? ?????? ??????????????????. ?? ?????????????????? ????????????, ?????????????? ???????????????? ???????????????????????? ?????? ???????????????? ?? ???????????????? ???????????? ????????????</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
          <xs:attribute fixed="14.0.0.0" ref="base:version" use="required" />
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
    <xs:key name="importDSRResponses_TransportGUIDKey">
      <xs:annotation>
        <xs:documentation>???????????????? ???????????????????????? ?????????????????????????? ???????????????????????????? ?? ???????????? ??????????????</xs:documentation>
      </xs:annotation>
      <xs:selector xpath=".//base:TransportGUID" />
      <xs:field xpath="." />
    </xs:key>
    <xs:key name="importDSRResponses_DSRGUIDKey">
      <xs:annotation>
        <xs:documentation>???????????????? ???????????????????????? ???????????????????? ?? ?????????????? ?????????????????????????? ?? ???????????? importDSRResponsesRequest</xs:documentation>
      </xs:annotation>
      <xs:selector xpath="tns:action/tns:subrequestGUID" />
      <xs:field xpath="." />
    </xs:key>
  </xs:element>
  <xs:element name="getStateResult">
    <xs:annotation>
      <xs:documentation>?????????????? ?????????????? ?? ?????????????????????? ?????????????????????????? ??????????????????</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent mixed="false">
        <xs:extension base="base:BaseAsyncResponseType">
          <xs:choice minOccurs="0">
            <xs:element maxOccurs="unbounded" name="importResult" type="base:CommonResultType">
              <xs:annotation>
                <xs:documentation>?????????????????? ??????????????</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="exportDRsResult" type="tns:exportDRsResultType">
              <xs:annotation>
                <xs:documentation>?????????????????? ???????????????????? ?????????????? ???? ?????????????? ???? ?????? ?????? ???????????????? ?? ?????????????? ?????????????????????????? ???? ??????</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="exportDSRsResult" type="tns:exportDSRsResultType">
              <xs:annotation>
                <xs:documentation>?????????????????? ???????????????????? ?????????????? ???? ?????????????? ?????????????????????? ?? ?????????????? ?????????????????????????? ???? ??????, ???????????????????????????? ?????? ??????</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element ref="base:ErrorMessage" />
          </xs:choice>
          <xs:attribute ref="base:version" use="required" />
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ApplicantInfoRequestType">
    <xs:annotation>
      <xs:documentation>???????????????????? ?? ??????????????????, ?????????????????????? ?? ???????????????????? ??????????????</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="firstName" type="tns:PersonNameType">
        <xs:annotation>
          <xs:documentation>??????</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="lastName" type="tns:PersonNameType">
        <xs:annotation>
          <xs:documentation>??????????????</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="middleName" type="tns:PersonNameType">
        <xs:annotation>
          <xs:documentation>????????????????</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="snils" type="tns:SNILSType">
        <xs:annotation>
          <xs:documentation>??????????</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="document" type="tns:DocumentType">
        <xs:annotation>
          <xs:documentation>????????????????, ???????????????????????????? ???????????????? ??????????????????</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ApplicantInfoType">
    <xs:annotation>
      <xs:documentation>???????????????????? ?? ??????????????????</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="firstName" type="tns:PersonNameType">
        <xs:annotation>
          <xs:documentation>??????</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="lastName" type="tns:PersonNameType">
        <xs:annotation>
          <xs:documentation>??????????????</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="middleName" type="tns:PersonNameType">
        <xs:annotation>
          <xs:documentation>????????????????</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="snils" type="tns:SNILSType">
        <xs:annotation>
          <xs:documentation>??????????</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="document" type="tns:DocumentType">
        <xs:annotation>
          <xs:documentation>????????????????, ???????????????????????????? ???????????????? ??????????????????</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DebtInfoType">
    <xs:annotation>
      <xs:documentation>???????????????????? ?? ??????????????????????????, ???????????????????????????? ???????????????? ??????????</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="person">
        <xs:annotation>
          <xs:documentation>???????????????????? ?? ????????, ?? ?????????????????? ???????????????? ?????????????? ??????????????????????????</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="firstName" type="tns:PersonNameType">
              <xs:annotation>
                <xs:documentation>??????</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="lastName" type="tns:PersonNameType">
              <xs:annotation>
                <xs:documentation>??????????????</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="middleName" type="tns:PersonNameType">
              <xs:annotation>
                <xs:documentation>????????????????</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="snils" type="tns:SNILSType">
              <xs:annotation>
                <xs:documentation>??????????</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="document" type="tns:DocumentType">
              <xs:annotation>
                <xs:documentation>????????????????, ???????????????????????????? ????????????????</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="document">
        <xs:annotation>
          <xs:documentation>????????????????, ???????????????????????????? ??????????????????????????</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="type" type="nsi-base:nsiRef">
              <xs:annotation>
                <xs:documentation>?????? ??????????????????, ?????? ???????????? ???? ?????????????????? (?????? 358)</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="attachment" type="base:AttachmentType">
              <xs:annotation>
                <xs:documentation>?????????????????????????? ????????</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DocumentType">
    <xs:annotation>
      <xs:documentation>????????????????, ???????????????????????????? ???????????????? ??????????????????</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="type" type="nsi-base:nsiRef">
        <xs:annotation>
          <xs:documentation>?????? ??????????????????, ?????????????????????????????? ???????????????? (?????? #95)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="series">
        <xs:annotation>
          <xs:documentation>??????????</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="255" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="number">
        <xs:annotation>
          <xs:documentation>??????????</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="255" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DSRType">
    <xs:annotation>
      <xs:documentation>???????????? ???????????????????? ?? ?????????????? ?????????????????????????? ???? ??????, ?????????????????????????????? ?????? ??????</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="subrequestGUID" type="base:GUIDType">
        <xs:annotation>
          <xs:documentation>?????????????????????????? ????????????????????, ?????????????????????? ?? ?????? ??????</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="requestInfo">
        <xs:annotation>
          <xs:documentation>???????????????????? ???? ???????????????? ?????????????? ?? ?????? ?????? ?? ?????????????? ?????????????????????????? ???? ??????</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="requestGUID" type="base:GUIDType">
              <xs:annotation>
                <xs:documentation>?????????????????????????? ?????????????? ?? ?????? ??????</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="requestNumber" type="tns:RequestNumberType">
              <xs:annotation>
                <xs:documentation>?????????? ??????????????</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="organization" type="tns:OrganizationInfoType">
              <xs:annotation>
                <xs:documentation>??????????????????????,
									?????????????????????? ????????????</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="housingFundObject" type="tns:ExportHousingFundObjectInfoType">
              <xs:annotation>
                <xs:documentation>???????????? ?????????????????? ?????????? (??????), ???? ???????????????? ???????????????????????????? ????????????</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="period" type="base:Period">
              <xs:annotation>
                <xs:documentation>????????????, ???? ?????????????? ?????????????????????????? ??????????????????????????</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="status" type="tns:RequestStatusType">
              <xs:annotation>
                <xs:documentation>???????????? ??????????????.

									???????????????????? ????????????????:
									Sent - ??????????????????
									Processed - ?????????????? ??????????</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="sentDate" type="xs:date">
              <xs:annotation>
                <xs:documentation>???????? ?????????????????????? ??????????????</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="responseDate" type="xs:date">
              <xs:annotation>
                <xs:documentation>?????????????? ???????? ???????????? ???? ????????????</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="executorInfo" type="tns:ExecutorInfoType">
              <xs:annotation>
                <xs:documentation>???????????????????? ?? ????????????????????, ???????????????????????????? ????????????</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="responseStatus" type="tns:ResponseStatusType">
        <xs:annotation>
          <xs:documentation>???????????? ???????????? ???? ?????????????????? ?? ?????????????? ?????????????????????????? ???? ??????.

						???????????????????? ????????????????:
						NotSent - ???? ??????????????????
						Sent - ??????????????????
						AutoGenerated - ?????????????????????? ??????????????????????????</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="responseData">
        <xs:annotation>
          <xs:documentation>?????????? ???? ??????????????????</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="hasDebt" type="xs:boolean">
              <xs:annotation>
                <xs:documentation>?????????????? ?????????????? ??????????????????????????, ???????????????????????????? ???????????????? ??????????</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="debtInfo" type="tns:ExportDebtInfoType">
              <xs:annotation>
                <xs:documentation>???????????????????? ?? ???????????????????????? ??????????????????????????, ???????????????????????????? ???????????????? ??????????</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" maxOccurs="unbounded" name="additionalFile" type="base:AttachmentType">
              <xs:annotation>
                <xs:documentation>???????????????????????????? ????????</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="description">
              <xs:annotation>
                <xs:documentation>???????????????????????????? ????????????????????</xs:documentation>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:maxLength value="1000" />
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element name="executorInfo" type="tns:ExecutorInfoType">
              <xs:annotation>
                <xs:documentation>???????????????????? ?? ????????????????????, ???????????????????????????? ??????????</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ExecutorInfoType">
    <xs:annotation>
      <xs:documentation>???????????????????? ???? ??????????????????????</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="GUID" type="base:GUIDType">
        <xs:annotation>
          <xs:documentation>?????????????????????????? ??????????????????????</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="fio" type="tns:PersonNameType">
        <xs:annotation>
          <xs:documentation>?????? ??????????????????????</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ExportDRType">
    <xs:annotation>
      <xs:documentation>???????????? ?????????????? ?? ?????????????? ?????????????????????????? ???? ?????? ?????? ???????????????? ???? ?????? ??????</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="requestGUID" type="base:GUIDType">
        <xs:annotation>
          <xs:documentation>?????????????????????????? ??????????????, ?????????????????????? ?? ?????? ??????</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="requestNumber" type="tns:RequestNumberType">
        <xs:annotation>
          <xs:documentation>?????????? ??????????????, ?????????????????????? ?? ?????? ??????</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="applicantInfo" type="tns:ApplicantInfoType">
        <xs:annotation>
          <xs:documentation>???????????????????? ?? ??????????????????</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="housingFundObject" type="tns:ExportHousingFundObjectInfoType">
        <xs:annotation>
          <xs:documentation>???????????????? ???? ?????????????? ?????????????????? ?????????? (??????), ???? ???????????????? ???????????????????????????? ????????????</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="period" type="base:Period">
        <xs:annotation>
          <xs:documentation>????????????, ???? ?????????????? ?????????????????????????? ??????????????????????????</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="organization" type="tns:OrganizationInfoType">
        <xs:annotation>
          <xs:documentation>??????????????????????,
						???????????????????????????? ????????????</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="executorInfo" type="tns:ExecutorInfoType">
        <xs:annotation>
          <xs:documentation>???????????????????? ?? ????????????????????, ???????????????????????????? ????????????</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="status" type="tns:AllRequestStatusesType">
        <xs:annotation>
          <xs:documentation>???????????? ?????????????? ?? ?????? ??????.

						???????????????????? ????????????????:
						Draft - ????????????;
						Processing - ?? ??????????????????;
						Sent - ?????????????????? ?????????????????????? ??????;
						Processed - ?????????????? ??????????;
						Revoked - ??????????????</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="result" type="nsi-base:nsiRef">
        <xs:annotation>
          <xs:documentation>?????????????????? ???????????????????? ??????????????.

						?????????????????????? ?????????? ???????????????? ???? ?????????????????????? ?????? ?????? "?????????????????? ?????????????? ?? ?????????????? ?????? ????????????????????
						?????????????????????????? ???? ??????" (?????? #345). A????????????????????
						???????????????? ?????????????????? ????????????????:
						1 - ???????????? ???? ??????????????????
						2 - ???????????? ?????????????? ????????????
						3 - ?????????????? ???????????????????? ?? ??????????????????????????
						4 - ?????????????????????????? ??????
						5 - ?????????????????????? ?????????????????????? ???????????????????? ?? ?????? ??????
						6 - ???????????????????? ?? ?????????????????????????? ??????????????????????
						7 - ???????????????????? ?? ?????????????????????????? ???? ???????????????????????? ??????????????????????</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="creationDate" type="xs:date">
        <xs:annotation>
          <xs:documentation>???????? ???????????????? ??????????????</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="sentDate" type="xs:date">
        <xs:annotation>
          <xs:documentation>???????? ?????????????????????? ?????????????? ?????????????????????? ??????</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="responseDate" type="xs:date">
        <xs:annotation>
          <xs:documentation>?????????????? ???????? ???????????? ???? ????????????</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="subrequest">
        <xs:annotation>
          <xs:documentation>?????????????? ????????????????????????, ?????????????????????????????? ??????</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="organization" type="tns:OrganizationInfoType">
              <xs:annotation>
                <xs:documentation>??????????????????????,
									?????????????????????????????? ??????</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="response">
              <xs:annotation>
                <xs:documentation>?????????? ??????????????????????</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="type" type="tns:ResponseType">
                    <xs:annotation>
                      <xs:documentation>???????????? ???????????????????????? ????????????.

												???????????????????? ????????????????:
												Provided - ???????????????????????? ????????????????????????
												AutoGenerated - ?????????????????????? ??????????????????????????</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element minOccurs="0" name="hasDebt" type="xs:boolean">
                    <xs:annotation>
                      <xs:documentation>?????????????? ?????????????? ??????????????????????????, ???????????????????????????? ???????????????? ??????????</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element minOccurs="0" maxOccurs="unbounded" name="debtInfo" type="tns:ExportDebtInfoType">
                    <xs:annotation>
                      <xs:documentation>???????????????????? ?? ???????????????????????? ??????????????????????????, ???????????????????????????? ???????????????? ??????????</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element minOccurs="0" maxOccurs="unbounded" name="additionalFile" type="base:AttachmentType">
                    <xs:annotation>
                      <xs:documentation>???????????????????????????? ????????</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element minOccurs="0" name="description">
                    <xs:annotation>
                      <xs:documentation>???????????????????????????? ????????????????????</xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:maxLength value="1000" />
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:element>
                  <xs:element minOccurs="0" name="executorInfo" type="tns:ExecutorInfoType">
                    <xs:annotation>
                      <xs:documentation>???????????????????? ?? ????????????????????, ???????????????????????????? ??????????</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ExportHousingFundObjectInfoType">
    <xs:annotation>
      <xs:documentation>???????????????????????????? ???????????????? ???? ?????????????? ?????????????????? ?????????? (??????), ???? ???????????????? ???????????????????????????? ????????????</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:choice>
        <xs:sequence>
          <xs:annotation>
            <xs:documentation>?????????????????????? ?????? ????????????????, ???????????????????????? ???? ???????????? 13.1.10.1</xs:documentation>
          </xs:annotation>
          <xs:element name="houseGUID" type="base:GUIDType">
            <xs:annotation>
              <xs:documentation>?????????????????????????? ???????? (???????? ?? ?????????????? ???????????????? ???????????????? ?????? ??????, ???????? ?? ?????????????????????? ????????) </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element minOccurs="0" name="addressDetails">
            <xs:annotation>
              <xs:documentation>???????????????????????????? ???????????????????? ???? ?????? (?????????? ???????????????? / ??????????????????, ??????????????, ?????????? ???????????? ????????).

???????????????????? ?????? ??????, ?????????????? ?????? ?????????????????????????????? ?????? ?????? ?????????? ?????? ?????????????????????????? ??????????????????. ???? ?????????????????????? ?????? ??????, ?????????????? ?????? ?????????? ??????</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:maxLength value="255" />
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
        </xs:sequence>
        <xs:sequence>
          <xs:annotation>
            <xs:documentation>?????????????????????? ?????? ????????????????, ???????????????????????? ???? ???????????? 14.0.0.0</xs:documentation>
          </xs:annotation>
          <xs:element name="HMobjectGUID" type="base:GUIDType">
            <xs:annotation>
              <xs:documentation>?????????????????????????? ????????/??????????????????/?????????????? ?? ?????????????? ???????????????? ???????????????? ?????? ??????.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="adressType" type="tns:AdressType">
            <xs:annotation>
              <xs:documentation>?????? ??????????????.
						?????????????????? ????????????????:
						Appartment - ??????????????????/????????,
						Room - ??????????????,
						House - ?????????? ??????
						?????????????????????? ???????????? ?????? ?????????? ????????????</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:choice>
      <xs:sequence>
        <xs:element minOccurs="0" name="fiasHouseGUID" type="base:GUIDType">
          <xs:annotation>
            <xs:documentation>???????????????????? ???????????????????? ?????????????????????????? ???????? ???? ????????</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element name="address">
          <xs:annotation>
            <xs:documentation>???????????????? ????????????</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="4000" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
      </xs:sequence>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ImportDRType">
    <xs:annotation>
      <xs:documentation>???????????? ?????????????? ?? ?????????????? ?????????????????????????? ???? ?????? ?????? ?????????????? ?? ?????? ??????</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="applicantInfo" type="tns:ApplicantInfoType">
        <xs:annotation>
          <xs:documentation>???????????????????? ?? ??????????????????</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="housingFundObject" type="tns:ImportHousingFundObjectInfoType">
        <xs:annotation>
          <xs:documentation>???????????????? ???? ?????????????? ?????????????????? ?????????? (??????), ???? ???????????????? ???????????????????????????? ????????????</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="executorGUID" type="base:GUIDType">
        <xs:annotation>
          <xs:documentation>?????????????????????????? ????????????????????, ?????????????????????????????? ????????????</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ImportDSRResponseType">
    <xs:annotation>
      <xs:documentation>???????????? ???????????????????? ?? ?????????????? ?????????????????????????? ???? ?????? ?????? ?????????????? ?? ?????? ??????</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="hasDebt" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>?????????????? ?????????????? ??????????????????????????, ???????????????????????????? ???????????????? ??????????</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="additionalFile" type="base:AttachmentType">
        <xs:annotation>
          <xs:documentation>???????????????????????????? ????????.

						?????????? ???????? ????????????, ???????????? ???????? hasDebt=TRUE</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="description">
        <xs:annotation>
          <xs:documentation>???????????????????????????? ????????????????????</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="1000" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="executorGUID" type="base:GUIDType">
        <xs:annotation>
          <xs:documentation>?????????????????????????? ????????????????????, ?????????????????????????????? ??????????</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:choice>
        <xs:annotation>
          <xs:documentation>???????????????????? ?? ???????????????????????? ??????????????????????????, ???????????????????????????? ???????????????? ??????????.

?????????? ???????? ????????????, ???????????? ???????? hasDebt=TRUE.</xs:documentation>
        </xs:annotation>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="debtInfo" type="tns:DebtInfoType">
          <xs:annotation>
            <xs:documentation>???????????????????? ?? ???????????????????????? ??????????????????????????, ???????????????????????????? ???????????????? ??????????. ??????????????????????, ???????? ?????????? ???????????????????????? ?????? ?????????? ?????????????? ???????????????? ?? ??????????????????????????.

?????????? ???????? ????????????, ???????????? ???????? hasDebt=TRUE. ?? ???????? ???????????? ?????????????? ????????????????????</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="debtGUID" type="base:GUIDType">
          <xs:annotation>
            <xs:documentation>?????????????????????????? ???????????? ?????????????? ???????????????? ?? ??????????????????????????. ?????????????????????? ?????? ?????????????????????? ???????????? ?? ???????????? ?????????????? ???????????????? ?? ??????????????????????????. ?????????? ???????? ????????????, ???????????? ???????? hasDebt=TRUE. ???????????????????????? ?????? ????????????????????</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OrganizationInfoType">
    <xs:annotation>
      <xs:documentation>???????????????? ???? ??????????????????????</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="orgRootGUID" type="base:GUIDType">
        <xs:annotation>
          <xs:documentation>???????????????? ?????????????????????????? ?????????????????????? (?? ?????????????? ?????????????????????? ?????? ??????)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="name" type="xs:string">
        <xs:annotation>
          <xs:documentation>???????????????????????? ??????????????????????</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="tel" type="xs:string">
        <xs:annotation>
          <xs:documentation>?????????????? ??????????????????????</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ActType">
    <xs:annotation>
      <xs:documentation>???????? ?????????????????? ????????</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="number">
        <xs:annotation>
          <xs:documentation>?????????? ?????????????????? ????????</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="255" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="date" type="xs:date">
        <xs:annotation>
          <xs:documentation>???????? ???????????????????? ?? ???????? ?????????????????? ????????</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CancelledAddressType">
    <xs:annotation>
      <xs:documentation>???????????????????? ???? ???????????????????????????? ?????????????? ?????????????????? ??????????, ?????????????????? ?? ???????????? ?? ?????????????? ???????????????? ?? ??????????????????????????.
				????????????????????????, ???????? ???????????????? ?????? ?????????????????? ???? ???????????????????????????? ?? ?????? ?????? ???????????? ?????????????????? ??????????.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="cancelledAddressText">
        <xs:annotation>
          <xs:documentation>?????????? ?????????????????????????????? ?????????????? ?????????????????? ??????????.</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="4000" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" name="fiasHouseGUID" type="base:GUIDType">
        <xs:annotation>
          <xs:documentation>???????????????????? ???????????????????? ?????????????????????????? ?????????????????????????????? ???????? ???? ????????</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="HCSHouseGUID" type="base:GUIDType">
        <xs:annotation>
          <xs:documentation>?????????????????????????????????? ?????? ?????????????????????????????? ???????? ?? ?????? ??????.???????????? ????????????????, ?????????????????????? ???? ?????????????? ???? ???????????????????? ?? ????????, ?????????????????????? ?? ???????????????? ?????????? ?????? ?????? ?? ?????????????? ?????????????????????? ?? ??????????????????????.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="HMobjectGUID" type="base:GUIDType">
        <xs:annotation>
          <xs:documentation>???????????????????? ???????????????????? ?????????????????????????? ?????????????????????????????? ?????????????? ?????????????????? ?????????? ?? ?????????????? ???????????????? ???????????????? ?????? ??????.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ExportDebtInfoType">
    <xs:annotation>
      <xs:documentation>???????????????????? ?? ??????????????????????????, ???????????????????????????? ???????????????? ?????????? ?????? ???????????????? ?????? ??????</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="person">
        <xs:annotation>
          <xs:documentation>???????????????????? ?? ????????, ?? ?????????????????? ???????????????? ?????????????? ??????????????????????????</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="firstName" type="tns:PersonNameType">
              <xs:annotation>
                <xs:documentation>??????</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="lastName" type="tns:PersonNameType">
              <xs:annotation>
                <xs:documentation>??????????????</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="middleName" type="tns:PersonNameType">
              <xs:annotation>
                <xs:documentation>????????????????</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="snils" type="tns:SNILSType">
              <xs:annotation>
                <xs:documentation>??????????</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="document" type="tns:DocumentType">
              <xs:annotation>
                <xs:documentation>????????????????, ???????????????????????????? ????????????????</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="document">
        <xs:annotation>
          <xs:documentation>????????????????, ???????????????????????????? ??????????????????????????</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="type" type="nsi-base:nsiRef">
              <xs:annotation>
                <xs:documentation>?????? ??????????????????, ?????? ???????????? ???? ?????????????????? (?????? 358)</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="attachment" type="base:AttachmentType">
              <xs:annotation>
                <xs:documentation>?????????????????????????? ????????</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="debtGUID" type="base:GUIDType">
              <xs:annotation>
                <xs:documentation>?????????????????????????? ???????????? ?? ?????????????? ???????????????? ?? ??????????????????????????.

??????????????????????, ???????? ???????????? ???? ?????????????? ?????????????????? ???? ?????????? ???????????? (14.0.0.0)</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="actType" type="tns:ActType">
              <xs:annotation>
                <xs:documentation>???????????????????? ?? ???????????????? ????????.
									?????????????????????? ?????? ????????????????????, ???????? ?????? ?????????????????? = ???????????????? ?????? (?????????????????????? ?????? ?????????? ???????????? ???????????? ???? ????????????).

??????????????????????, ???????? ???????????? ???? ?????????????? ?????????????????? ???? ?????????? ???????????? (14.0.0.0)</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="cancelledAddress" type="tns:CancelledAddressType">
              <xs:annotation>
                <xs:documentation>???????????????????? ???? ???????????????????????????? ?????????????? ?????????????????? ??????????, ?????????????????? ?? ???????????? ?? ?????????????? ???????????????? ?? ??????????????????????????.
						????????????????????????, ???????? ???????????????? ?????? ?????????????????? ???? ???????????????????????????? ?? ?????? ?????? ???????????? ?????????????????? ??????????.

??????????????????????, ???????? ???????????? ???? ?????????????? ?????????????????? ???? ?????????? ???????????? (14.0.0.0)</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ExportHMObjectInfoType">
    <xs:annotation>
      <xs:documentation>???????????????? ???? ?????????????? ?????????????????? ?????????? (??????) ?????? ?????????????? ???????????????? ????????????????/?????????????????????? (???????????? 14.0.0.0)</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="HMobjectGUID" type="base:GUIDType">
        <xs:annotation>
          <xs:documentation>?????????????????????????? ????????/??????????????????/?????????????? ?? ?????????????? ???????????????? ???????????????? ?????? ??????.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="adressType" type="tns:AdressType">
        <xs:annotation>
          <xs:documentation>?????? ??????????????.
						?????????????????? ????????????????:
						Apartment - ??????????????????/????????,
						Room - ??????????????,
						House - ?????????? ??????
			</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ImportHousingFundObjectInfoType">
    <xs:annotation>
      <xs:documentation>?????????????????????????? ???????????????? ???? ?????????????? ?????????????????? ?????????? (??????) ?? ??????????????</xs:documentation>
    </xs:annotation>
    <xs:choice>
      <xs:sequence>
        <xs:annotation>
          <xs:documentation>?????????????????????? ?????? ?????????????????????? ?????????????? ???? ???????????? 13.1.10.1</xs:documentation>
        </xs:annotation>
        <xs:element name="houseGUID" type="base:GUIDType">
          <xs:annotation>
            <xs:documentation>?????????????????????????? ???????? (???????? ?? ?????????????? ???????????????? ???????????????? ?????? ??????, ???????? ?? ?????????????????????? ????????)</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="addressDetails">
          <xs:annotation>
            <xs:documentation>???????????????????????????? ???????????????????? ???? ?????? (?????????? ???????????????? / ??????????????????, ??????????????, ?????????? ???????????? ????????).

???????????????????? ?????? ??????, ?????????????? ?????? ?????????????????????????????? ?????? ?????? ?????????? ?????? ?????????????????????????? ??????????????????. ???? ?????????????????????? ?????? ??????, ?????????????? ?????? ?????????? ??????</xs:documentation>
          </xs:annotation>
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="255" />
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
      </xs:sequence>
      <xs:choice>
        <xs:annotation>
          <xs:documentation>?????????????????????? ?????? ?????????????????????? ?????????????? ???? ???????????? 14.0.0.0. </xs:documentation>
        </xs:annotation>
        <xs:sequence>
          <xs:element name="HMObjectGUID" type="base:GUIDType">
            <xs:annotation>
              <xs:documentation>?????????????????????????? ?????????????? ?????????????????? ?????????? ?? ?????????????? ???????????????? ???????????????? ?????? ??????. ???????????????????? ?????? ???????????????????? ?????? ???????? ??????????, ?????????? ?????????? ??????. ???????? ?????? = ?????????? ??????. ???? ?????????? ???????? ????????????????, ???????? HMObjectGUID, ???????? fiasHouseGUID</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="AddressType" type="tns:AdressType">
            <xs:annotation>
              <xs:documentation>?????? ??????????????.
						?????????????????? ????????????????:
						Apartment - ??????????????????/????????,
						Room - ??????????????,
						House - ?????????? ??????
			</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:element name="fiasHouseGUID" type="base:GUIDType">
          <xs:annotation>
            <xs:documentation>?????????????????????????? ????????. ?????????? ???????? ????????????????, ???????? ?????? ?????????????? = ?????????? ??????</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:choice>
    </xs:choice>
  </xs:complexType>
  <xs:simpleType name="AllRequestStatusesType">
    <xs:annotation>
      <xs:documentation>?????? ?????????????? ?????????????? ?? ?????? ??????.
 
				???????????????????? ????????????????:
				Draft - ????????????;
				Processing - ?? ??????????????????;
				Sent - ?????????????????? ?????????????????????? ??????;
				Processed - ?????????????? ??????????;
				Revoked - ??????????????</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="Draft" />
      <xs:enumeration value="Processing" />
      <xs:enumeration value="Sent" />
      <xs:enumeration value="Processed" />
      <xs:enumeration value="Revoked" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="DRActionType">
    <xs:annotation>
      <xs:documentation>???????? ???????????????? ?? ?????????????????? ?? ?????????????? ?????????????????????????? ???? ??????.

				???????????????????? ????????????????:
				Send - ?????????????????? ???????????? ?????????????????????? ??????;
				Revoke - ???????????????? ????????????, ?????????? ???????????????????????? ?????????????????????? ??????</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="Send" />
      <xs:enumeration value="Revoke" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="DSRResponseActionType">
    <xs:annotation>
      <xs:documentation>???????? ???????????????? ?? ???????????????? ???? ???????????????????? ?? ?????????????? ?????????????????????????? ???? ??????.

				???????????????????? ????????????????:
				Send - ?????????????????? ??????????;
				Revoke - ???????????????? ?????????? ???????????????????????? ??????????</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="Send" />
      <xs:enumeration value="Revoke" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="PersonNameType">
    <xs:annotation>
      <xs:documentation>?????????????????? ?????? ?????? ?????????? ??????</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:minLength value="1" />
      <xs:maxLength value="255" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="RequestNumberType">
    <xs:annotation>
      <xs:documentation>?????????????????? ?????? ?????? ???????????? ??????????????</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="30" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="RequestStatusType">
    <xs:annotation>
      <xs:documentation>???????????? ??????????????, ?????????????????????????? ?? ?????? ??????.

				???????????????????? ????????????????:
				Sent - ??????????????????;
				Processed - ?????????????? ??????????</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="Sent" />
      <xs:enumeration value="Processed" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ResponseStatusType">
    <xs:annotation>
      <xs:documentation>???????????? ???????????? ???? ??????????????????, ???????????????????????????? ?????? ??????.

				???????????????????? ????????????????:
				NotSent - ???? ??????????????????;
				Sent - ??????????????????;
				AutoGenerated - ?????????????????????? ??????????????????????????</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="NotSent" />
      <xs:enumeration value="Sent" />
      <xs:enumeration value="AutoGenerated" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="ResponseType">
    <xs:annotation>
      <xs:documentation>???????????? ???????????????????????? ???????????? ???? ??????????????????.

				???????????????????? ????????????????:
				Provided - ???????????????????????? ????????????????????????;
				AutoGenerated - ?????????????????????? ??????????????????????????</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="Provided" />
      <xs:enumeration value="AutoGenerated" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="SNILSType">
    <xs:annotation>
      <xs:documentation>?????? ?????? ?????????? ??????????</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:pattern value="\d{11}" />
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AdressType">
    <xs:annotation>
      <xs:documentation>?????? ??????. ?????????????????? ????????????????: Apartment - ??????????????????, Room - ??????????????, House - ?????????? ??????, HouseBlock - ???????? ?? ?????????? ????????</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="36" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>