Hcs.ClientApi/Connected Services/Service.Async.OrgRegistryCommon.v14_5_0_1/hcs-organizations-registry-common-types.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:base="http://dom.gosuslugi.ru/schema/integration/base/" xmlns:organizations-base="http://dom.gosuslugi.ru/schema/integration/organizations-base/" xmlns:organizations-registry-base="http://dom.gosuslugi.ru/schema/integration/organizations-registry-base/" xmlns:nsi-base="http://dom.gosuslugi.ru/schema/integration/nsi-base/" xmlns:premises-base="http://dom.gosuslugi.ru/schema/integration/premises-base/" xmlns:tns="http://dom.gosuslugi.ru/schema/integration/organizations-registry-common/" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://dom.gosuslugi.ru/schema/integration/organizations-registry-common/" version="13.1.8.1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="../lib/hcs-base.xsd" namespace="http://dom.gosuslugi.ru/schema/integration/base/" />
  <xs:import schemaLocation="../lib/hcs-organizations-base.xsd" namespace="http://dom.gosuslugi.ru/schema/integration/organizations-base/" />
  <xs:import schemaLocation="../lib/hcs-premises-base.xsd" namespace="http://dom.gosuslugi.ru/schema/integration/premises-base/" />
  <xs:import schemaLocation="../lib/hcs-nsi-base.xsd" namespace="http://dom.gosuslugi.ru/schema/integration/nsi-base/" />
  <xs:import schemaLocation="../lib/hcs-organizations-registry-base.xsd" namespace="http://dom.gosuslugi.ru/schema/integration/organizations-registry-base/" />
  <xs:element name="exportOrgRegistryRequest">
    <xs:annotation>
      <xs:documentation>?????????????? ???????????????? ???? ?????????????? ??????????????????????</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent mixed="false">
        <xs:extension base="base:BaseType">
          <xs:sequence>
            <xs:element maxOccurs="100" name="SearchCriteria">
              <xs:annotation>
                <xs:documentation>???????????????? ???????????? ??????????????????????.</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:sequence>
                  <xs:choice>
                    <xs:choice>
                      <xs:annotation>
                        <xs:documentation>?????????? ???? ????????????????????.</xs:documentation>
                      </xs:annotation>
                      <xs:element ref="organizations-base:OGRNIP" />
                      <xs:sequence>
                        <xs:element ref="organizations-base:OGRN" />
                        <xs:element minOccurs="0" ref="organizations-base:KPP" />
                      </xs:sequence>
                      <xs:element ref="organizations-base:NZA" />
                    </xs:choice>
                    <xs:element ref="organizations-registry-base:orgVersionGUID" />
                    <xs:element ref="organizations-registry-base:orgRootEntityGUID" />
                    <xs:element name="orgPPAGUID" type="base:GUIDType">
                      <xs:annotation>
                        <xs:documentation>?????????????????????????? ???????????????????????????????????? ??????????????????????</xs:documentation>
                      </xs:annotation>
                    </xs:element>
                  </xs:choice>
                  <xs:element minOccurs="0" fixed="true" name="isRegistered" type="xs:boolean">
                    <xs:annotation>
                      <xs:documentation>?????????? ?????????? ??????????????????????, ?????????????? ???????????? ??????????????</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element minOccurs="0" name="lastEditingDateFrom" type="xs:date">
              <xs:annotation>
                <xs:documentation>?????????? ???????????????????? ?????????????????? (????)</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
          <xs:attribute fixed="10.0.2.1" ref="base:version" use="required" />
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="exportOrgRegistryResultType">
    <xs:annotation>
      <xs:documentation>?????????????????? ???????????????? ???????????????? ???? ?????????????? ??????????????????????</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element ref="organizations-registry-base:orgRootEntityGUID" />
      <xs:element name="OrgVersion">
        <xs:annotation>
          <xs:documentation>???????????? ?????????????????????? ?? ?????????????? ??????????????????????</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="organizations-registry-base:orgVersionGUID" />
            <xs:element name="lastEditingDate" type="xs:date">
              <xs:annotation>
                <xs:documentation>???????? ???????????????????? ??????????????????</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="IsActual" type="xs:boolean">
              <xs:annotation>
                <xs:documentation>?????????????? ???????????????????????? ????????????</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:choice>
              <xs:element name="Legal" type="organizations-registry-base:LegalType">
                <xs:annotation>
                  <xs:documentation>?????????????????????? ????????</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="Subsidiary">
                <xs:annotation>
                  <xs:documentation>???????????????????????? ??????????????????????????</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                  <xs:complexContent mixed="false">
                    <xs:extension base="organizations-registry-base:SubsidiaryType">
                      <xs:sequence>
                        <xs:element name="StatusVersion">
                          <xs:annotation>
                            <xs:documentation>???????????? ???????????? </xs:documentation>
                          </xs:annotation>
                          <xs:simpleType>
                            <xs:restriction base="xs:string" />
                          </xs:simpleType>
                        </xs:element>
                        <xs:element name="ParentOrg">
                          <xs:annotation>
                            <xs:documentation>???????????????????? ?? ???????????????? ??????????????????????</xs:documentation>
                          </xs:annotation>
                          <xs:complexType>
                            <xs:sequence>
                              <xs:element ref="organizations-registry-base:RegOrgVersion" />
                            </xs:sequence>
                          </xs:complexType>
                        </xs:element>
                      </xs:sequence>
                    </xs:extension>
                  </xs:complexContent>
                </xs:complexType>
              </xs:element>
              <xs:element name="Entrp" type="organizations-registry-base:EntpsType">
                <xs:annotation>
                  <xs:documentation>???????????????????????????? ??????????????????????????????</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element name="ForeignBranch" type="organizations-registry-base:ForeignBranchType">
                <xs:annotation>
                  <xs:documentation>?????????? (???????????? ?????? ?????????????????????????????????? ???????????????????????? ???????????????????????? ????????)</xs:documentation>
                </xs:annotation>
              </xs:element>
            </xs:choice>
            <xs:element minOccurs="0" name="registryOrganizationStatus">
              <xs:annotation>
                <xs:documentation>????????????:
(P)UBLISHED - ???????????????????????? ?? ?????????? ???? ???????????????????? ?? ???????????? ??????????????????</xs:documentation>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:enumeration value="P" />
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element minOccurs="0" ref="base:orgPPAGUID" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="organizationRoles" type="nsi-base:nsiRef">
        <xs:annotation>
          <xs:documentation>???????????????????? ?????????????????????? (?????? ???20)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" fixed="true" name="isRegistered" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>???????????????????????????????? ?? ?????? ??????</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="exportDataProviderRequest">
    <xs:annotation>
      <xs:documentation>?????????????? ???????????????? ?? ?????????????????????? ???????????????????? ????. ?? ???????????????? ???????????????????? ?????????????????? ???????????????????????? ?????????????????????????? ???? ???? RequestHeader</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent mixed="false">
        <xs:extension base="base:BaseType">
          <xs:sequence>
            <xs:element minOccurs="0" fixed="true" name="IsActual" type="xs:boolean">
              <xs:annotation>
                <xs:documentation>?????????????????? ???????????? ???????????????? ?????????????????????? ????????????</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
          <xs:attribute fixed="10.0.2.1" ref="base:version" use="required" />
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="exportDataProviderResultType">
    <xs:annotation>
      <xs:documentation>?????????????????? ???????????????? ???????????????? ?? ?????????????????????? ???????????????????? ????</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="DataProviderGUID" type="base:GUIDType">
        <xs:annotation>
          <xs:documentation>?????????????????????????? ???????????????????? ????????????</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IsActual" type="xs:boolean">
        <xs:annotation>
          <xs:documentation>???????????? ??????????: 1 - ??????????????, 0- ????????????????</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element ref="organizations-registry-base:RegOrg" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="exportDelegatedAccessRequest">
    <xs:annotation>
      <xs:documentation>?????????????? ???????????????? ?? ???????????????????????????? ????????????</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent mixed="false">
        <xs:extension base="base:BaseType">
          <xs:choice>
            <xs:element maxOccurs="1000" name="AccessRequestGUID" type="base:GUIDType">
              <xs:annotation>
                <xs:documentation>???? ????????????</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:sequence>
              <xs:element minOccurs="0" name="Page">
                <xs:annotation>
                  <xs:documentation>???????????????? ??????????????. ???????????????????????? ???? 100 ??????????????????.</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:int">
                    <xs:minInclusive value="1" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
              <xs:element minOccurs="0" name="Status" type="tns:AccessRequestStatus">
                <xs:annotation>
                  <xs:documentation>???????????? ????????????:
Created ??? ??????????????
Accepted ??? ??????????????
Declined - ??????????????????
Revoked - ????????????????
Annuled - ????????????????????????
Closed - ??????????????
Preset??? ??????????????????????????
Waiting_approval - ???? ??????????????????????</xs:documentation>
                </xs:annotation>
              </xs:element>
            </xs:sequence>
          </xs:choice>
          <xs:attribute fixed="11.2.0.1" ref="base:version" use="required" />
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="exportDelegatedAccessType">
    <xs:annotation>
      <xs:documentation>?????????????????? ???????????????? ???????????????? ?? ???????????????????????????? ????????????</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="ParentOrg" type="organizations-registry-base:RegOrgType">
        <xs:annotation>
          <xs:documentation>???????????????????? ?? ???????????????? ?????????????????????? (?????? ???????????????????????? ??????????????????????????)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element ref="base:orgPPAGUID" />
      <xs:element ref="organizations-registry-base:RegOrg" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AccessRequest" type="tns:AccessRequest">
        <xs:annotation>
          <xs:documentation>???????????? ???? ????????????</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="exportObjectsDelegatedAccessRequest">
    <xs:annotation>
      <xs:documentation>?????????????? ???????????????? ???? ???????????????? ???? ???????????? ???? ?????????????????????????? ????????</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent mixed="false">
        <xs:extension base="base:BaseType">
          <xs:choice minOccurs="0">
            <xs:element maxOccurs="1000" name="AccessRightGUID" type="base:GUIDType">
              <xs:annotation>
                <xs:documentation>???? ?????????????????????????????? ??????????.
?????????? ???????????????? ?? ???????????????????? ???????????????????? exportDelegatedAccess</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="Page">
              <xs:annotation>
                <xs:documentation>???????????????? ??????????????. ???????????????????????? ???? 1000 ??????????????????.</xs:documentation>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:int">
                  <xs:minInclusive value="1" />
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
          </xs:choice>
          <xs:attribute fixed="11.2.0.1" ref="base:version" use="required" />
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="exportTerritoryDelegatedAccessRequest">
    <xs:annotation>
      <xs:documentation>?????????????? ???????????????? ?? ?????????????????????? ???? ???????????? ???? ?????????????????????????? ????????</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent mixed="false">
        <xs:extension base="base:BaseType">
          <xs:choice minOccurs="0">
            <xs:element maxOccurs="1000" name="AccessRightGUID" type="base:GUIDType">
              <xs:annotation>
                <xs:documentation>???? ?????????????????????????????? ??????????.
?????????? ???????????????? ?? ???????????????????? ???????????????????? exportDelegatedAccess</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="Page">
              <xs:annotation>
                <xs:documentation>???????????????? ??????????????. ???????????????????????? ???? 1000 ??????????????????.</xs:documentation>
              </xs:annotation>
              <xs:simpleType>
                <xs:restriction base="xs:int">
                  <xs:minInclusive value="1" />
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
          </xs:choice>
          <xs:attribute fixed="11.2.0.1" ref="base:version" use="required" />
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="getStateResult">
    <xs:annotation>
      <xs:documentation>?????????????? ?????????????? ?????????????????????????? ??????????????????</xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:complexContent mixed="false">
        <xs:extension base="base:BaseAsyncResponseType">
          <xs:sequence minOccurs="0">
            <xs:choice minOccurs="0">
              <xs:element ref="base:ErrorMessage" />
              <xs:element maxOccurs="unbounded" name="ImportResult" type="base:CommonResultType" />
              <xs:element maxOccurs="unbounded" name="exportOrgRegistryResult" type="tns:exportOrgRegistryResultType" />
              <xs:element maxOccurs="unbounded" name="exportDataProviderResult" type="tns:exportDataProviderResultType" />
              <xs:element maxOccurs="unbounded" name="exportDelegatedAccessResult" type="tns:exportDelegatedAccessType" />
              <xs:element maxOccurs="unbounded" name="exportObjectsDelegatedAccessResult" type="tns:ObjectsDelegatedAccessRightType" />
              <xs:element maxOccurs="unbounded" name="exportTerritoryDelegatedAccess" type="tns:TerritoryDelegatedAccessRightType" />
            </xs:choice>
            <xs:element minOccurs="0" fixed="true" name="IsNextPage" type="xs:boolean">
              <xs:annotation>
                <xs:documentation>?????????????? ????????, ?????? ?????????????????? ???? ?????? ????????????. ???????????????????? ?????????????????? ?????? ???????? ????????????, ???????????????? Page ???? 1.</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
          <xs:attribute fixed="10.0.2.1" ref="base:version" use="required" />
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="AccessRequest">
    <xs:annotation>
      <xs:documentation>???????????? ???? ???????????????????????????? ??????????????</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="AccessRequestGUID" type="base:GUIDType">
        <xs:annotation>
          <xs:documentation>???? ????????????</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Type" type="tns:AccessRequestType">
        <xs:annotation>
          <xs:documentation>?????? ????????????</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ApplicationDate" type="xs:date">
        <xs:annotation>
          <xs:documentation>???????? ????????????</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="StartDate" type="xs:date">
        <xs:annotation>
          <xs:documentation>???????? ????????????</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="EndDate" type="xs:date">
        <xs:annotation>
          <xs:documentation>???????? ??????????????????</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Status" type="tns:AccessRequestStatus">
        <xs:annotation>
          <xs:documentation>???????????? ????????????:
Created ??? ??????????????
Accepted ??? ??????????????
Declined - ??????????????????
Revoked - ????????????????
Annuled - ????????????????????????
Closed - ??????????????
Preset??? ??????????????????????????
Waiting_approval - ???? ??????????????????????</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="StatusChangeDate" type="xs:date">
        <xs:annotation>
          <xs:documentation>???????? ??????????????</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element minOccurs="0" name="StatusReason">
        <xs:annotation>
          <xs:documentation>?????????????? ??????????????</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:maxLength value="1000" />
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DelegatedAccessRight">
        <xs:annotation>
          <xs:documentation>???????????????????????????? ?????????? ??????????????</xs:documentation>
        </xs:annotation>
        <xs:complexType>
          <xs:sequence>
            <xs:element name="AccessRightGUID" type="base:GUIDType">
              <xs:annotation>
                <xs:documentation>???? ?????????????????????????????? ??????????</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="TerritoryInfo">
              <xs:annotation>
                <xs:documentation>?????????????????????????????? ????????????????????????????</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:choice>
                  <xs:element fixed="true" name="AllTerritories" type="xs:boolean">
                    <xs:annotation>
                      <xs:documentation>?????? ???????? ????????????????????</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element fixed="true" name="ExistListOfTerritory" type="xs:boolean">
                    <xs:annotation>
                      <xs:documentation>???????? = "true", ???? ???? ???????? ???????????????????? ?????????????? ???????????? ????????????????????, ???? ?????????????? ???????????????????????? ????????????. ?????? ?????????????????? ???????????? ?????????? ?????????????????????????????? ???????????????? exportTerritoryDelegatedAccess</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                </xs:choice>
              </xs:complexType>
            </xs:element>
            <xs:element name="ObjectInfo">
              <xs:annotation>
                <xs:documentation>?????????????? ??????????????</xs:documentation>
              </xs:annotation>
              <xs:complexType>
                <xs:choice>
                  <xs:element fixed="true" name="AllObjects" type="xs:boolean">
                    <xs:annotation>
                      <xs:documentation>?????? ???????? ????????????????</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                  <xs:element fixed="true" name="ExistListOfObjects" type="xs:boolean">
                    <xs:annotation>
                      <xs:documentation>???????? = "true", ???? ???? ???????? ???????????????????? ?????????????? ???????????? ????????????????, ???? ?????????????? ???????????????????????? ????????????. ?????? ?????????????????? ???????????? ?????????? ?????????????????????????????? ???????????????? exportObjectsDelegatedAccess</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                </xs:choice>
              </xs:complexType>
            </xs:element>
            <xs:element name="IsActual" type="xs:boolean">
              <xs:annotation>
                <xs:documentation>?????????????? ????????????????????????</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" name="InformationType" type="nsi-base:nsiRef">
              <xs:annotation>
                <xs:documentation>?????? ???? ?????????????????????? 291 - "???????? ????????????????????"</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="AccessRequestType">
    <xs:annotation>
      <xs:documentation>?????? ???????????? ???? ???????????????????????????? ??????????????</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="ForInformationSystemOperator">
        <xs:annotation>
          <xs:documentation>?????? ?????????????????? ???????????????????????????? ??????????????
</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="ForCalculationCenter">
        <xs:annotation>
          <xs:documentation>?????? ???????????????????? ????????????</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="AccessRequestStatus">
    <xs:annotation>
      <xs:documentation>???????????? ???????????? ???? ???????????????????????????? ??????????????</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="Created">
        <xs:annotation>
          <xs:documentation>??????????????</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Accepted">
        <xs:annotation>
          <xs:documentation>??????????????</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Declined" />
      <xs:enumeration value="Revoked">
        <xs:annotation>
          <xs:documentation>????????????????</xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Annulled" />
      <xs:enumeration value="Closed" />
      <xs:enumeration value="Preset" />
      <xs:enumeration value="Waiting_approval" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="RegOrgPPA" type="tns:RegOrgPPAType" />
  <xs:complexType name="RegOrgPPAType">
    <xs:sequence>
      <xs:element ref="base:orgPPAGUID" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ObjectsDelegatedAccessRightType">
    <xs:annotation>
      <xs:documentation>???????????????? ???? ???????????????? ???? ???????????? ???? ?????????????????????????? ????????</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="AccessRightGUID" type="base:GUIDType">
        <xs:annotation>
          <xs:documentation>???? ?????????????????????????????? ??????????.
?????????? ???????????????? ?? ???????????????????? ???????????????????? exportDelegatedAccess</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:choice>
        <xs:element maxOccurs="unbounded" name="ObjectInfo">
          <xs:annotation>
            <xs:documentation>???????????? ??????????????</xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence>
              <xs:element name="ObjectGUID" type="base:GUIDType">
                <xs:annotation>
                  <xs:documentation>???????????????? ????????????????</xs:documentation>
                </xs:annotation>
              </xs:element>
              <xs:element minOccurs="0" name="Type">
                <xs:annotation>
                  <xs:documentation>?????? ??????????????</xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                  <xs:restriction base="xs:string">
                    <xs:maxLength value="1000" />
                  </xs:restriction>
                </xs:simpleType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element fixed="true" name="AllObjects" type="xs:boolean">
          <xs:annotation>
            <xs:documentation>?????? ???????? ????????????????</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TerritoryDelegatedAccessRightType">
    <xs:annotation>
      <xs:documentation>???????????????? ?? ?????????????????????? ???? ???????????? ???? ?????????????????????????? ????????</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="AccessRightGUID" type="base:GUIDType">
        <xs:annotation>
          <xs:documentation>???? ?????????????????????????????? ??????????.
?????????? ???????????????? ?? ???????????????????? ???????????????????? exportDelegatedAccess</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:sequence>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="OKTMO" type="base:OKTMORefType">
          <xs:annotation>
            <xs:documentation>???????????????? ???????????????????? ????????????????</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="unbounded" name="Region" type="nsi-base:nsiRef">
          <xs:annotation>
            <xs:documentation>???????????????? ?????????????????? ????, ???? ?????????????? ?????????????????? ??????????.  (???????????? ???? ???????????????????? ???????????????? ????). ?????? 237</xs:documentation>
          </xs:annotation>
        </xs:element>
        <xs:element minOccurs="0" fixed="true" name="AllTerritories" type="xs:boolean">
          <xs:annotation>
            <xs:documentation>?????? ???????? ????????????????????</xs:documentation>
          </xs:annotation>
        </xs:element>
      </xs:sequence>
    </xs:sequence>
  </xs:complexType>
</xs:schema>